.btn-custom {
    font-size: 15px;
    line-height: 18px;
    outline: none;
    border-radius: 8px;
    color: #fff;
    padding: 17px 30px 14px 30px;
    text-transform: uppercase;
    text-decoration: none;
    &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-custom-primary {
    border-color: $orangedark;
    background-color: $orangedark;
    border: 2px solid $orangedark;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        border-color: #E94603;
        background-color: #E94603;
        color: #fff;
    }
    &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-custom-secondary {
    border-color: #0093FF!important;
    background-color: #0093FF!important;
    font-weight:bold;
    text-decoration: none!important;
    color: #fff;
    &:hover {
        border-color: #006FDB!important;
        background-color: #006FDB!important;
        color: #fff;
    }
    &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-custom-light {
    border-color: #F4F4F4;
    background: #F4F4F4;
    color: #333333;
    font-weight:bold;
    &:hover {
        color: #ffffff;
        border-color: #0093FF;
        background: #0093FF;
    }
    &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-custom-white {
    border-color: #ffffff;
    background: #ffffff;
    color: #000000;
    font-weight:bold;
    border-radius: 4px;
    &:hover {
        color: #ffffff;
        background: #46B1FF;
    }
    &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
    &.active {
        background: #46B1FF;
        color: #fff;
    }
}

.btn-outline-tariff {
    border: 2px solid #46B1FF!important;
    color: #003B73!important;
    border-radius: 6px;
    font-weight:bold;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        border-color: #E94603!important;
        background-color: #E94603!important;
        color: #fff!important;
    }
    &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
}