@media (min-width: 1024px) {
    #sign-in-modal {
    .modal-dialog {
        max-width: 405px !important;
        margin: 150px auto 150px auto !important;

        .modal-content {
            border-radius: 8px;
        }

        .modal-body {
            h1 {
                font-size: 30px;
                text-transform: none;
                margin: 0;
                padding: 0;
                font-family: "LetoSansCondensed";
                line-height: 120%;
            }

            input {
                border: 1px solid gray;
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: center;
            }

            .btn-custom {
                border-color: #FE6D2E !important;
                background-color: #FE6D2E !important;
                outline: none;
                border-radius: 8px;
                padding: 0px 20px 0 20px;
                color: #fff !important;
                font-family: "LetoSansCondensed";
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
            }

            .btn-custom:hover {
                border-color: #f84c01 !important;
                background-color: #f84c01 !important;
            }

            .btn-custom:active {
                outline: none;
            }

            .btn-custom:focus {
                outline: none;
            }
        }
    }

}
    #plansModal {
        .modal-dialog {
            padding: 0 !important;
            width: 100%;
            min-width: 100%;
            max-height: 100%;
            height: 100%;
            margin: 0 !important;

            h1 {
                font-size: 35px;
                line-height: 42px;
            }

            .modal-content {
                height: auto;
                min-height: 100%;
                border: 0 none;
                border-radius: 0;
                padding: 0 !important
            }

            .modal-body {
                padding: 0;
            }

            .plane-modal-header {
                padding: 22px 25px 20px;

                a {
                    font-size: 12px;
                    line-height: 119%;
                    color: #003B73;
                }
            }


            .fly-table {
                .t-header {
                    margin-top: 75px;

                    p {
                        font-size: 12px;
                        line-height: 122%;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                    }

                    h5 {
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .best {
                        border: 1px solid #FF7F00 !important;
                        border-radius: 4px !important;
                        padding-top: 0 !important;
                        box-shadow: 0px 0px 0px #F4C1AA;
                        height: 158px !important;
                        padding: 12px 0 20px;
                        border-radius: 0px 0px 4px 4px;
                        -moz-border-radius: 0px 0px 4px 4px;
                        -webkit-border-radius: 0px 0px 4px 4px;
                        -webkit-box-shadow: 0px 4px 20px 0px rgba(244, 193, 170, 1);
                        -moz-box-shadow: 0px 4px 20px 0px rgba(244, 193, 170, 1);
                        box-shadow: 0px 4px 20px 0px rgba(244, 193, 170, 1);

                        &.col {
                            border-bottom: 1px solid #FF7F00 !important;
                        }

                        .best-header {
                            p {
                                padding-top: 0;
                            }

                            background: #FF7F00;
                            height: 48px;
                            margin-bottom: 10px;
                            color: #fff;
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 11px;
                            line-height: 34px;
                            letter-spacing: 1px;
                            border-radius: 4px 4px 0px 0px;
                            -moz-border-radius: 4px 4px 0px 0px;
                        }
                    }

                    .col {
                        border-bottom: 3px solid #46B1FF !important;
                        margin: 0 2px;
                        height: 100px
                    }
                }

                .t-btn {

                    .col,
                    .col-3,
                    .col-2 {
                        padding-top: 29px !important;
                    }
                }

                .t-row {
                    &-head {

                        .col,
                        .col-3,
                        .col-2 {
                            border-top: 3px solid $bluelight !important;
                        }
                    }

                    &-no-border {

                        .col,
                        .col-3,
                        .col-2 {
                            border: none !important;
                        }
                    }

                    .col,
                    .col-3,
                    .col-2 {
                        &:not(:first-child) {
                            display: -webkit-box !important;
                            display: -webkit-flex !important;
                            display: -moz-box !important;
                            display: -ms-flexbox !important;
                            display: flex !important;
                            flex-direction: column;
                            align-items: center;
                        }

                        margin: 0 2px;
                        padding: 12px 0;
                        border-top: 1px solid #78797A33;

                        &:nth-child(4) {
                            .circle {
                                background: #FF7F00;
                            }
                        }
                    }

                    h5 {
                        color: #000;
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 120%;
                    }

                    .h-request {
                        font-size: 22px;
                        line-height: 42px;
                        color: $bluedark;
                    }

                    .circle {
                        width: 24px;
                        height: 24px;

                        &:after {
                            width: 24px;
                            height: 24px;
                            background: url(/files/img/check-modal.png) center no-repeat;
                        }
                    }

                    .btn {
                        width: 140px;
                    }
                }

            }

        }
    }

    .close-modal {
        width: 12px;
        height: 12px;
        cursor: pointer;
        background: url(/files/img/close.png) center no-repeat;
    }

    .border-bottom-deep-blue {
        border-bottom: 2px solid #003B73;
    }

    .b-blue-light {
        &-header {
            .col {
                border-bottom: 3px solid $bluelight;
            }
        }

        &-row {
            .col {
                border-bottom: 3px solid $bluelight;
            }
        }
    }
}