@media (min-width: $screen-min) {
    #plansModal {
        .modal-dialog {
            h1 {
                font-size: 24px;
                line-height: 24px;
            }
            h2 {
                font-size: 16px;
                line-height: 24px;
            }
            h4 {
                font-size: 12px;
                line-height: 24px;
            }
            
            .fly-table { 
                .t-header {
                    margin-top: 20px;
                    .col {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    p {
                        font-size: 7px;
                    }
                    h5 {
                        font-size: 6px;
                        line-height: 7px;
                    }
                    .best {
                        border: 1px solid #FF7F00!important;
                        border-radius: 4px!important;
                        padding-top: 0!important; 
                        box-shadow: 0px 0px 0px #F4C1AA;
                        height: 100px!important;
                        padding: 12px 0 20px;
                        border-radius: 0px 0px 4px 4px;
                        -moz-border-radius: 0px 0px 4px 4px;
                        -webkit-border-radius: 0px 0px 4px 4px;
                        -webkit-box-shadow: 0px 4px 20px 0px rgba(244,193,170,1);
                        -moz-box-shadow: 0px 4px 20px 0px rgba(244,193,170,1);
                        box-shadow: 0px 4px 20px 0px rgba(244,193,170,1);
                        &.col {
                            border-bottom: 1px solid #FF7F00!important;
                        }
                        .best-header {
                            p {
                                padding-top: 0;
                            }
                            background: #FF7F00;
                            height: 20px;
                            margin-bottom: 10px;
                            color: #fff;
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 11px;
                            line-height: 34px;
                            letter-spacing: 1px;
                            border-radius: 4px 4px 0px 0px;
                            -moz-border-radius: 4px 4px 0px 0px;
                        }
                    }
                    .col {
                        border-bottom: 3px solid #46B1FF !important;
                        margin: 0 2px;
                        height: 68px
                    }
                }
                .t-row {
                    p {
                        font-size: 10px;
                        line-height: 120%;
                    }
                    h1 {
                        font-size: 13px;
                    }
                    h5 {
                        font-size: 10px;
                        line-height: 13px;
                    }
                    .col {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .currency {
                        font-size: 8px;
                    }
                    .h-request {
                        font-size: 9px;
                        line-height: 24px;
                    }
                    .btn {
                        width: 65px;
                        font-size: 10px;
                    }
                    .circle {
                        width: 18px;
                        height: 18px;
                        &:after {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }

            }
        }
    }
}