@media (min-width: $screen-sm) {
    #plansModal {
        .modal-dialog {
            h1 {
                font-size: 34px;
                line-height: 34px;
            }

            h2 {
                font-size: 18px;
                line-height: 24px;
            }

            h4 {
                font-size: 16px;
                line-height: 24px;
            }

            .fly-table {
                .t-header {
                    margin-top: 20px;

                    .col {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    p {
                        font-size: 8px;
                        padding-top: 8px;
                    }

                    h5 {
                        font-size: 12px;
                        line-height: 10px;
                    }
                }

                .t-row {
                    p {
                        font-size: 12px;
                        line-height: 120%;
                    }

                    h1 {
                        font-size: 24px;
                    }

                    h5 {
                        font-size: 12px;
                        line-height: 24px;
                    }

                    .col {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    .currency {
                        font-size: 14px;
                    }

                    .h-request {
                        font-size: 18px;
                        line-height: 34px;
                    }

                    .btn {
                        width: 120px;
                        font-size: 12px;
                    }

                    .circle {
                        width: 18px;
                        height: 18px;

                        &:after {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }

            }
        }
    }
}