#sign-in-modal {
.close-custom {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;

    &:hover {
        opacity: 1;
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: $bluedark;
        top: 50%;
    }

    &:before {
        transform: rotate(-45deg);
    }

    &:after {
        transform: rotate(45deg);
    }
}

.modal-dialog {
    max-width: 405px !important;
    margin: 150px auto 150px auto !important;

    .modal-content {
        border-radius: 8px;
    }

    .modal-body {
        h1 {
            font-size: 30px;
            text-transform: none;
            margin: 0;
            padding: 0;
            font-family: "LetoSansCondensed";
            line-height: 120%;
        }

        input {
            border: 1px solid gray;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }

        .btn-custom {
            border-color: #FE6D2E !important;
            background-color: #FE6D2E !important;
            outline: none;
            border-radius: 8px;
            padding: 0px 20px 0 20px;
            color: #fff !important;
            font-family: "LetoSansCondensed";
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .btn-custom:hover {
            border-color: #f84c01 !important;
            background-color: #f84c01 !important;
        }

        .btn-custom:active {
            outline: none;
        }

        .btn-custom:focus {
            outline: none;
        }
    }
}
}

.modal-full {
    .plane-modal-header {
        padding: 22px 25px 20px;

        a {
            font-size: 12px;
            line-height: 119%;
            color: #003B73;
        }
    }

    .modal-body {
        padding: 0;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
        border: 0 none;
        border-radius: 0;
        padding: 0 !important;
        border-radius: 0;
    }

    .modal-dialog {
        padding: 0 !important;
        width: 100%;
        min-width: 100%;
        max-height: 100%;
        height: 100%;
        margin: 0 !important;
    }
}
#prevBtn, #nextBtn {
    color: #000;
}

#registrationModal {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    text-align: left;

    a {
        color: $bluelight;
        &:hover {
            color: $bluedark;
        }
    }

    .custom-checkbox {
        .custom-control-label {
            line-height: 25px;
            font-size: 12px;
        }
    }

    .reg-group {
        input, select {
            height: 34px;
            padding: 5px;
            margin: 0;
            border: 0.5px solid #060606;
            border-radius: 4px;
            text-align: left !important;

            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &:-moz-placeholder,
            &:-ms-input-placeholder {
                text-align: left;
                font-family: 'PT Sans';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #939292;
            }
        }
        .phone-code-item {
            cursor: pointer;
        }

        label {
            &.error {
                font-size: 12px;
                line-height: 135.87%;
                /* or 14px */
                color: #FF0000;
                margin: 2px 0px 8px;
            }
        }
        // label .error{

        //     font-size: 10px;
        //     line-height: 135.87%;
        //     /* or 14px */
        //     color: #FF0000;
        //     margin: 2px 5px 8px;
        
        // }

        select {
            background-image: url(/files/img/select.png);
            background-size: 8px 5px;
            background-repeat: no-repeat!important;
            background-position: top 50% right 10px!important;
        }

        .error-message {

            font-size: 10px;
            line-height: 135.87%;
            /* or 14px */
            color: #FF0000;
            margin: 2px 5px 8px;
        }

        .phone {
            border-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 71%;
            &:active,
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        label {
            display: block;
            margin: 7px 5px 2px;
            cursor: auto;
            font-family: PT Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 135.87%;
            color: #78797A;
            text-align: left;
        }

        .label-bottom {
            font-size: 10px;
            margin-top: 3px;
            color: #BEBEBE;
        }

        .input-group-text {
            border: 0.5px solid #060606;
            border-right: 0;
            height: 34px;
            width: 44px;
            text-align: right;
            padding-left: 22px;
            padding-right: 4px;
            padding-top: 3px;
            background: #C4C4C4;
        }
    }

    .registration-modal-header {
        h1 {
            font-size: 35px;
            line-height: 42px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #000;
        }

        p {
            font-size: 18px;
            line-height: 140%;
            color: #78797A;
        }
    }

    .registration-body {
        max-width: 264px;
        margin: auto
    }

    .steps-info {
        margin: auto;
        text-align: left;
        margin: 29px 5px 17px;

        p {
            font-family: PT Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 135.87%;
            color: #78797A;
        }

    }

    .promo-link {
        font-family: PT Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 135.87%;
        /* or 14px */

        text-decoration-line: underline;

        color: #78797A;
    }

    .btn-custom-secondary {
        border-radius: 8px;
    }
}

#plansModal {
    .modal-dialog {
        padding: 0 !important;
        width: 100%;
        min-width: 100%;
        max-height: 100%;
        height: 100%;
        margin: 0 !important;

        h1 {
            font-size: 35px;
            line-height: 42px;
        }

        .modal-content {
            height: auto;
            min-height: 100%;
            border: 0 none;
            border-radius: 0;
            padding: 0 !important
        }

        .modal-body {
            padding: 0;
        }

        .plane-modal-header {
            padding: 22px 25px 20px;

            a {
                font-size: 12px;
                line-height: 119%;
                color: #003B73;
            }
        }


        .fly-table {
            .t-header {
                margin-top: 75px;

                p {
                    font-size: 12px;
                    line-height: 122%;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                }
            }

            .t-btn {

                .col,
                .col-3,
                .col-2 {
                    padding-top: 29px !important;
                }
            }

            .t-row {
                &-head {

                    .col,
                    .col-3,
                    .col-2 {
                        border-top: 3px solid $bluelight !important;
                    }
                }

                &-no-border {

                    .col,
                    .col-3,
                    .col-2 {
                        border: none !important;
                    }
                }

                .col,
                .col-3,
                .col-2 {
                    &:not(:first-child) {
                        display: -webkit-box !important;
                        display: -webkit-flex !important;
                        display: -moz-box !important;
                        display: -ms-flexbox !important;
                        display: flex !important;
                        flex-direction: column;
                        align-items: center;
                    }

                    margin: 0 2px;
                    padding: 12px 0;
                    border-top: 1px solid #78797A33;

                    &:nth-child(4) {
                        .circle {
                            background: #FF7F00;
                        }
                    }
                }

                h5 {
                    color: #000;
                }

                p {
                    font-size: 14px;
                    line-height: 120%;
                }

                .h-request {
                    font-size: 26px;
                    line-height: 42px;
                    color: $bluedark;
                }

                .circle {
                    width: 24px;
                    height: 24px;

                    &:after {
                        width: 24px;
                        height: 24px;
                        background: url(/files/img/check-modal.png) center no-repeat;
                    }
                }

                .btn {
                    width: 140px;
                }
            }

        }

    }
}

.close-modal {
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url(/files/img/close.png) center no-repeat;
}

.border-bottom-deep-blue {
    border-bottom: 2px solid #003B73;
}

.b-blue-light {
    &-header {
        .col {
            border-bottom: 3px solid $bluelight;
        }
    }

    &-row {
        .col {
            border-bottom: 3px solid $bluelight;
        }
    }
}

.down-phone {
    border: 0.5px solid #060606;
    border-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: right;
    padding: 3px;
    background: #C4C4C4;
    cursor: pointer;
}

.drop-down-menu-phone {
    a {
        &:visited {
            color: #000;
        }
    }
}