*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: $body-font !important;
	font-size: $body-size;
	color: $body-color;
	min-width: 320px;
	background: $body-bg;
	margin: 0;
	padding: 0;
}

td {
	font-family: $body-font;
	font-size: $body-size;
}

.clearfix {

	&:before,
	&:after {
		display: table;
		clear: both;
		content: '';
	}
}

.rel {
	position: relative;
}

a {
	color: $link-color;
	text-decoration: underline;
	cursor: pointer;
}

a:visited {
	color: lighten($link-color, 5%);
}

a:hover {
	color: darken($link-color, 5%);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	margin: 0;
	padding: 0;
	font-family: $body-font;
	font-weight: normal;
	color: $link-color;
}

h1,
.h1 {
	font-size: 35px;
	line-height: 42px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	color: #003B73;
}

h2,
.h2 {
	font-size: 26px;
	line-height: 34px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	color: #0093FF;

}

h3,
.h3 {
	font-size: 20px;
	letter-spacing: -1px;
}

h4,
.h4 {
	font-weight: bold;
	font-size: 18px;
	color: #003B73;
	text-transform: uppercase;
	line-height: 34px;
}

h5,
.h5 {
	font-size: 16px;
	color: $bluelight;
	letter-spacing: 0.5px;
	line-height: 34px;
	font-weight: bold;
	text-transform: uppercase;
}

p {
	line-height: 25px;
	margin-bottom: 0;
}

hr {
	height: 0px;
	border: 2px solid #F4F4F4;
}

.circle {
	width: 16px;
	height: 16px;
	margin: auto;
	background: $bluelight;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;

	&:after {
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		background: url(/files/img/vector.png) center no-repeat;
	}
}

.cross {
	width: 16px;
	height: 16px;
	margin: auto;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;

	&:after {
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		background: url(/files/img/cross.png) center no-repeat;
	}
}

.currency {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;

	color: #003B73;
}

.hidden {
	display: none;
}

.ohide {
	overflow: hidden;
}

.center {
	text-align: center;
}

.orange {
	color: $link-color;
}

.form_error {
	font-size: 16px;
	color: #c00;
}

.ico {
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
}

.text-bluelight {
	color: #0093FF !important;
}

.text-bluedark {
	color: #003B73;
}

img {
	max-width: 100%;
}

.logo {
	width: 118px;
}

.carousel-control-next-icon {
	width: 25px;
	height: 40px;
	background: url(/files/img/union.png);
}

.carousel-control-prev-icon {
	width: 25px;
	height: 40px;
	background: url(/files/img/union.png);
	transform: rotate(180deg);
}


label {
	&.error {
		font-size: 12px;
		line-height: 135.87%;
		/* or 14px */
		color: #FF0000;
		margin: 2px 5px 8px;
	}
}

.phone-code-flag {
	width: 20px;
	background: url(/files/img/sys/flags.png);
	&.ru {
		height: 14px;
		background-position: -4295px 0;
	}
	&.ua {
		height: 14px;
		background-position: -5175px 0;
	}
	&.kz {
		height: 10px;
		background-position: -2853px 0;
	}
	&.by {
		height: 10px;
		background-position: -790px 0;
	}
	&.uz {
		height: 10px;
		background-position: -5307px 0;
	}
	&.af {
		height: 14px;
		background-position: -66px 0;
	}	
}
