@media (min-width: 0) {
	h1 {
		line-height: 35px;
	}

	h2 {
		line-height: 25px;
	}

	h4 {
		line-height: 25px;
	}

	.utp {
		margin-top: 40px;

		h1 {
			font-size: 29px;
		}

		h3 {
			font-size: 18px;
		}
	}

	.header {
		.knowledge-base {
			display: none;
		}
	}


	.footer {
		h2 {
			font-size: 20px;
		}

	}

	.contact {
		h2 {
			font-size: 40px;
		}

		p {
			line-height: 120%;
			font-size: 12px;
		}

		i {
			font-size: 24px;
		}
	}

	.capabilities {
		p {
			font-size: 14px;
			line-height: 140%;
			text-transform: none;
			color: #000;
			font-weight: normal;
		}

		.carousel {
			margin-top: 20px;
		}

		.capabilities-header {
			h2 {
				font-size: 18px;
				line-height: 140%;
				color: #78797A;
				text-transform: none;
				font-weight: normal;
			}
		}

		.buttons {
			button {
				height: 32px;
				font-size: 12px;
				line-height: 100%;
			}
		}
	}

	.tariff {

		h4 {
			font-family: PT Sans;
			font-style: normal;
			font-size: 16px;
			line-height: 21px;
			text-transform: none;
		}

		.p-top {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 140%;
			text-transform: none;
			color: #78797A;
			padding: 8px 0 24px;
		}

		.tariff-item {
			.wrap {
				height: auto;
				//padding: 14px 0 17px;
			}

			.tariff-bottom {
				h1 {
					font-size: 26px;
				}

				.currency {
					font-size: 12px;
				}
			}

			.tariff-bottom {
				.price {
					h2 {
						font-size: 20px;
					}
				}
			}
		}

		.p-header {
			font-family: PT Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 9px;
			line-height: 130%;
			text-transform: none;
		}

		.best {
			&-wrap {
				border: 1px solid $orangedark;
				padding-top: 0;
				box-shadow: 0px 0px 0px #F4C1AA;
				height: auto;
				//padding: 12px 0 20px;
				border-radius: 0px 0px 4px 4px;
				-moz-border-radius: 0px 0px 4px 4px;
				-webkit-border-radius: 0px 0px 4px 4px;
				-webkit-box-shadow: 0px 4px 20px 0px rgba(244, 193, 170, 1);
				-moz-box-shadow: 0px 4px 20px 0px rgba(244, 193, 170, 1);
				box-shadow: 0px 4px 20px 0px rgba(244, 193, 170, 1);

				.circle {
					background: $orangedark;
				}
			}

			&-header {
				background: $orangedark;
				height: 20px;
				color: #fff;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 11px;
				line-height: 34px;
				letter-spacing: 1px;
				border-radius: 4px 4px 0px 0px;
				-moz-border-radius: 4px 4px 0px 0px;
				-webkit-border-radius: 4px 4px 0px 0px;
				-webkit-box-shadow: 0px 4px 20px 0px rgba(244, 193, 170, 1);
				-moz-box-shadow: 0px 4px 20px 0px rgba(244, 193, 170, 1);
				box-shadow: 0px 4px 20px 0px rgba(244, 193, 170, 1);
			}
		}

		.advantages {
			padding: 0 21px;
			height: auto;

			p {
				font-size: 12px;
				color: #000000;
			}

			a {
				font-size: 12px;
				line-height: 119%;
				text-decoration-line: underline;
				color: #003B73;
			}
		}
	}

	.blog {
		.blog-header {
			h4 {
				font-size: 18px;
				line-height: 106.19%;
				text-align: center;
				text-transform: none;
				font-weight: normal;
				color: #78797A;
			}
		}
	}

	.page-text {
		margin-top: 94px;

		h1 {
			font-size: 30px;
		}

		.wrap {
			padding: 50px 0 90px;

			p {
				font-size: 18px;
				line-height: 140%
			}
		}
	}

	.plane-text {
		margin-top: 22px;

		h1 {
			font-size: 30px;
		}

		.date {
			margin-top: 17px;
			font-size: 12px;
			line-height: 106.19%;
			color: #78797A;
		}

		.wrap {
			margin: 20px 0 24px;

			p {
				font-size: 18px;
				line-height: 140%
			}
		}
	}

	.btn-custom-white {
		font-size: 9px;
		padding: 0.375rem;
	}

	.graphic-text {
		.carousel-inner {
			width: 343px;
		}

		.carousel-indicators li {
			background-color: #ccc;
		}
	}
}
