@media (min-width: $screen-lg){

	.container {
		max-width: 1024px!important;
	}
	.utp {
		background: #fff;
		.container {
			background: url(img/main.jpg) top right no-repeat;
			background: auto 500px;
		}
	}

	.capabilities {
		h4 {
			font-size: 18px;
			line-height: 34px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			color: $bluelight;
			font-weight: bold;
		}
		p {
			font-size: 18px;
		}
		.capabilities-header {
			h2 {
				font-size: 26px;
				line-height: 34px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #0093FF;
				font-weight: bold;
			}
		}
		.carousel {
			margin-top: 57px;
		}
	}

	.blog {
		.blog-header {
			h4 {
				font-size: 18px;
				line-height: 34px;
				text-align: center;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				font-weight: bold;
				color: $bluedark;
			}
		}
	}

}