@media (min-width: $screen-xs) {

    .header {
        font-size: 14px;

        .knowledge-base {
            margin-right: 16px;
        }
    }

    .footer {
        h2 {
            font-size: 24px;
        }

    }

    .business {
        .carousel-inner {
            width: 546px;
        }
    }

    .capabilities {
        .carousel-inner {
            width: 546px;
        }
    }

	.btn-custom-white {
		font-size: 14px;
		padding: 0.375rem;
    }

    .graphic-text {
		.carousel-inner {
			width: 546px;
		}
	}
}