@media (min-width: $screen-md) {
	.container {
		max-width: 946px !important;
	}

	.top {
		background: #003B73;
		padding: 20px 0;
		
		.main-menu {
			a {
				font-size: 22px;
			}
		}

		.links {
			a {
				font-size: 22px;
			}
		}

		.btn-custom {
			font-size: 16px !important;
		}
	}

	.utp {
		background-size: auto 475px;

		h1 {
			font-size: 36px;
		}

		h2 {
			font-size: 24px;
		}

		h3 {
			font-size: 24px;
		}

		p {
			font-size: 18px;
		}

		.text-bottom {
			font-size: 18px;
		}

		.container {
			background-size: auto 500px;
		}
	}

	.capabilities {
		.carousel-inner {
			width: 693px;
		}
	}

	.block {
		h4 {
			font-size: 16px;
			line-height: 21px;
		}

		.p-head {
			font-size: 9px;
			line-height: 130%;
		}
	}

	.business {
		.carousel-inner {
			width: 693px;
		}
	}

	.tariff {
		.tariff-item {
			border-radius: 4px;

			.wrap {
				//height: 447px;
				height: auto;
				border-radius: 4px;
				padding: 12px 0 20px;
			}
		}

		.best {
			&-wrap {
				//height: 447px;
				height: auto;
			}

			&-header {
				height: 50px;
			}
		}

		.advantages {
			padding: 0 21px;
			height: 230px;

			p {
				font-size: 12px;
				line-height: 119%;
				align-items: center;
				color: #000000;
			}

			a {
				font-size: 12px;
				line-height: 119%;
				text-decoration-line: underline;
				color: #003B73;
			}

			.advantages-item {
				&:not(:first-child) {
					margin-top: 11px;
				}
			}
		}
	}

	.graphic-text {
		.carousel-inner {
			width: 693px;
		}
	}
}