.header {
    background: $bluelight;
    color: #ffffff;
    height: 30px;
    font-size: 12px;

    a,
    a:visited,
    a:hover {
        color: #ffffff;
        text-decoration: none;

        &:hover {
            color: #ffffff;
        }
    }

    .dropdown-menu {
        a {
            color: #333333;
        }

        a:hover {
            color: #fff;
            background-color: $bluelight;
        }

    }

    .phone {
        .ibg-phone {
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
    }

    .knowledge-base {
        margin-right: 5px;
    }

    .join-link {
        margin-right: 16px;
    }

    .dropdown-menu {
        z-index: 1021;
    }
}

.top {
    padding-top: 30px;
    z-index: 1020;
    .main-menu {
        a {
            text-transform: uppercase;
            font-size: 16px;
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
        }
    }
}

.top-sticky {
    opacity: 0;
}

.utp {
    margin-top: 81px;

    h2 {
        margin-top: 14px;
        margin-bottom: 18px;
        font-size: 16px;
    }

    .text-bottom {
        font-size: 14px;
    }

    &:after {
        display: block;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 280px;
        background: url(img/main.jpg) top center;
        background-size: cover;
    }
}

.try-it-form {
    background: #F5F5F5;
    padding: 50px 0;
    text-align: center;
    color: #78797A;
    line-height: 120%;
    .input-group {
        .phone-code-item {
            cursor: pointer;
        }
        .down-phone {
            border: 0;
        }
        .phone {
            border-left: 0;
            border-radius: 0px 8px 8px 0px;
            width: 60%;
            height: 48px;
            &:active,
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
    .form-group {
        input {
           // max-width: 264px;
            font-size: 18px;
            line-height: 34px;
        }
        .btn-custom-secondary {
           // max-width: 264px;
            font-size: 18px; 
        }
    }
}

.capabilities {
    padding-top: 72px;
    padding-bottom: 24px;

    h4 {
        color: $bluelight;
    }

    .carousel-inner {
        width: 343px;
    }

    .buttons {
        margin-top: 27px;

        button {
            border-radius: 8px;
            font-size: 17px;
            line-height: 17px;
            font-weight: normal;
            text-transform: uppercase;
        }

        .active {
            color: #ffffff;
            border-color: #0093FF;
            background: #0093FF;
        }
    }

    .carousel {
        margin-top: 71px;
    }
}

.business {
    padding-top: 72px;
    padding-bottom: 24px;
    .carousel-inner {
        width: 343px;
    }

    .carousel-indicators {
        bottom: -40px;
        li {
            background-color: #ccc;
        }
    }
}

.blog {
    padding-top: 47px;
    padding-bottom: 80px;

    h4 {
        margin-top: 7px;
    }

    img {
        border-bottom: 6px solid #46B1FF;
        object-fit: cover;
        width: 100%;
    }

    .blog-content {
        .blog-item {
            margin-top: 22px;
        }

        .blog-text {
            color: #000000;
            margin-top: 15px;
            line-height: 23px;
        }

        .blog-date {
            margin-top: 9px;
            color: #78797A;
        }
    }

    .btn-custom-light {
        color: #003B73 !important;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 34px;
        font-weight: bold;
        text-decoration: none;
    }
}

.footer {
    background: #46B1FF;
    padding-bottom: 39px;

    .link-group {
        padding-top: 39px;
    }

    h2 {
        color: #fff;
    }

    .link {
        margin-top: 15px;
        text-decoration: none;
    }
}

.contact {
    padding: 16px 0 14px;

    p {
        color: #78797A;
        margin: 0;
    }

    h2 {
        color: #939292;
    }

    i {
        color: #939292;
        font-size: 24px;
    }
}

.tariff {
    background: #F5F5F5;
    padding-top: 40px;
    padding-bottom: 24px;

    h4 {
        color: $bluelight;
        letter-spacing: 0.5px
    }

    h2 {
        color: $bluedark;
    }

    hr {
        margin: 13px auto 7px auto;
    }
    .price-message {
        color: #47b0f8;
        text-transform: uppercase;
        font-size: 12px;
    }

    .compare-link {
        color: #46B1FF;
        line-height: 34px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
            color: #006FDB;
        }
    }

    .tariff-item {
        .tariff-bottom {
            padding: 0 36px;
        }

        .price {
            font-size: 35px;
            line-height: 42px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
        }
    }

    .best {
        h4 {
            color: $orangedark;
        }
        &-wrap {
            height: 500px;
        }

        &-header {
            height: 50px;
        }
    }

}

.graphic-text, .post {
    margin: 0 0 24px;
    h1 {
        margin: 22px 0 22px;
    }
    h2 {
        text-transform: none;
        margin: 16px 0 16px;
        font-weight: normal;
    }
    h3 {
        color: #0093FF;
    }
    blockquote {
        font-size: 20px;
        margin: 40px auto;
        color: #333;
        padding: 1em 0 1em 34px;
        line-height: 1.4em;
        position: relative;
        background: #f6f6f6;
    }
    p {
        text-align: justify;
        margin-bottom: 18px;
    }
    a {
        color: $bluelight;
    }
    pre {
        font-family: 'LetoSansCondensed';
        font-size: 16px;
    }
    .ph {
        font-weight: bold;
    }
    .icons-integration {
        img {
            margin: 20px 0 20px;
            max-width: 220px;
            max-height: 140px;
        }
    }
}

.top-small {
			
    height: 50px;
    animation: animateElement linear .1s;
    animation-iteration-count: 1;
}
@keyframes animateElement{
    0% {
        //transform:  translate(0px,10px);
        height: 118px
    }
    100% {
        height: 50px;
    }
}
.top-big {
    // transition: 3s;
    height: 118px;
    animation: animateBig linear 2s;
    animation-iteration-count: 1;
}
@keyframes animateBig{
    0% {
        //transform:  translate(0px,10px);
        height: 50px
    }
    100% {
        height: 118px;
    }
}