@media (min-width: $screen-sm) {

	h1 {
		line-height: 42px;
	}

	h2 {
		line-height: 22px;
	}

	h4 {
		line-height: 22px;
	}

	.container {
		max-width: 704px !important;
	}

	.header {
		.phone {
			.ibg-phone {
				width: 20px;
				height: 20px;
				margin-right: 8px;
			}
		}

		.knowledge-base {
			display: unset;
			margin-right: 31px;
		}

		.join-link {
			margin-right: 29px;
		}
	}

	.top {
		background: #003B73;
		padding: 20px 0;
		min-height: auto;

		.logo {
			float: left;
		}
	}

	.utp {
		background: url(img/main.jpg) center right no-repeat;
		//background-size: auto 403px;
		background-size: auto 350px;
		height: 500px;

		h1 {
			font-size: 36px;
		}

		h3 {
			font-size: 16px;
		}

		p {
			font-size: 14px;
			line-height: 140%;
		}

		.utp-inner {
			margin-top: 37px;
		}

		.text-bottom {
			font-size: 16px;
		}

		&:after {
			display: none;
		}
	}

	.try-it-form {
		h2 {
			font-size: 36px;
		}
	}

	footer {
		h2 {
			font-size: 26px;
		}

	}

	.contact {
		p {
			font-size: 14px;
			line-height: 19px;
		}

		h2 {
			font-size: 26px;
		}

		i {
			font-size: 34px;
		}
	}

	.block {
		width: 167px;
	}

	.capabilities {
		p {
			font-size: 15px;
		}

		.carousel {
			margin-top: 57px;
		}

		.buttons {
			button {
				height: 42px;
			}
		}
	}

	.tariff {
		h4 {
			font-size: 18px;
			line-height: 34px;
			letter-spacing: 0.5px;
			color: #46B1FF;
			font-weight: bold;
			font-family: inherit;
			text-transform: uppercase;
		}

		.p-top {
			font-size: 18px;
			padding: 12px 0 24px;
		}

		.tariff-item {
			.wrap {
				//height: 313px;
				height: auto;
			}
		}

		.tatiff-bottom {
			h1 {
				font-size: 30px;
			}
		}

		.advantages {
			height: 175px;
		}

		.p-header {
			font-size: 11px;
			line-height: 122%;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #000000;
		}
	}
}