@media (min-width: 1024px) {

	h1 {
		line-height: 42px;
	}

	h2 {
		//line-height: 35px;
		line-height: 42px;
	}

	h4 {
		line-height: 25px;
	}

	.capabilities {
		.carousel {
			margin-top: 31px;
		}

		.buttons {
			button {
				font-size: 17px;
				line-height: 100%;
			}
		}
	}

	.tariff {
		.tariff-item {
			border-radius: 4px;

			.wrap {
				//height: 447px;
				height: auto;
				border-radius: 4px;
				padding: 12px 0 20px;
			}

			.tariff-bottom {
				.price {
					h2 {
						font-size: 26px;
					}
				}
			}
		}

		.best {
			&-wrap {
				//height: 447px;
				height: auto;
			}

			&-header {
				height: 50px;
			}
		}

		.advantages {
			padding: 0 21px;
			height: 230px;

			p {
				font-size: 12px;
				line-height: 119%;
				align-items: center;
				color: #000000;
			}

			a {
				font-size: 12px;
				line-height: 119%;
				text-decoration-line: underline;
				color: #003B73;
			}

			.advantages-item {
				&:not(:first-child) {
					margin-top: 11px;
				}
			}
		}
	}
}