<div class="blog" id="blog">
    <div class="container">
        <div class="row">
            <div class="col text-center blog-header">
                <h1>Блог <span class="text-bluelight">Fly lunch</span></h1>
                <h4>FLY LUNCH задаёт стандарты обслуживания в сфере корпоративного питания</h4>
            </div>
            <div class="w-100"></div>
            <div class="col text-center">
                <div class="row text-left blog-content">
                    <div class="col-12 col-sm-6 col-md-4 blog-item">
                        <a href="/pages/post1.html">
                            <img src="files/img/posts/post1.jpg" alt="">
                        </a>
                        <a href="/pages/post1.html">
                            <p class="blog-text">Доставка готовой еды в офисы и на предприятия</p>
                            <p class="blog-date">01.02.2020</p>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 blog-item">
                        <a href="/pages/post1.html">
                            <img src="files/img/posts/post2.jpg" alt="">
                        </a>
                        <a href="/pages/post1.html">
                            <p class="blog-text">Как организовать доставку еды из кафе и ресторана в офисы и предприятия
                            </p>
                        </a>
                        <p class="blog-date">05.04.2020</p>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 blog-item d-none d-sm-block">
                        <a href="/pages/post3.html">
                            <img src="files/img/posts/post3.jpg" alt="">
                        </a>
                        <a href="/pages/post3.html">
                            <p class="blog-text">Автоматизация блюд и комплексных обедов на предприятие.</p>
                        </a>
                        <p class="blog-date">22.09.2020</p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 blog-item d-none d-sm-block">
                        <img src="files/img/rectangle.png" alt="">
                        <p class="blog-text">Даже находясь за пределами предприятия,
                            я могу отслеживать выручку и количество
                            доставленных обедов в режиме реального времени.</p>
                        <p class="blog-date">05.07.2020</p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 blog-item d-none d-md-block">
                        <img src="files/img/rectangle.png" alt="">
                        <p class="blog-text">Даже находясь за пределами предприятия,
                            я могу отслеживать выручку и количество
                            доставленных обедов в режиме реального времени.</p>
                        <p class="blog-date">05.07.2020</p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 blog-item d-none d-md-block">
                        <img src="files/img/rectangle.png" alt="">
                        <p class="blog-text">Даже находясь за пределами предприятия,
                            я могу отслеживать выручку и количество
                            доставленных обедов в режиме реального времени.</p>
                        <p class="blog-date">05.07.2020</p>
                    </div>
                </div>

            </div>
            <div class="w-100"></div>
            <div class="col mt-4 text-center">
                <a class="btn-custom btn-custom-light" href="">Показать еще статьи</a>
            </div>
        </div>
    </div>
</div>