<div class="business" id="business">
    <div class="container">
        <div class="row">
            <div class="col text-center blog-header">
                <h1>Кейсы <span class="text-bluelight">Fly lunch</span></h1>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div id="carouselBusiness" class="carousel slide d-flex justify-content-center" data-ride="carousel"
                    data-interval="false" data-touch="true">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselBusiness" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselBusiness" data-slide-to="1"></li>
                        <li data-target="#carouselBusiness" data-slide-to="2"></li>
                        <li data-target="#carouselBusiness" data-slide-to="3"></li>
                        <li data-target="#carouselBusiness" data-slide-to="4"></li>
                        <li data-target="#carouselBusiness" data-slide-to="5"></li>
                        <li data-target="#carouselBusiness" data-slide-to="6"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/files/img/slides/business/1.jpg" class="d-block w-100"
                                alt="Как платформа FLY LUNCH помогает малому бизнесу / предприятиям общественного питания">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/business/2.jpg" class="d-block w-100" alt="Кейс 1.">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/business/3.jpg" class="d-block w-100" alt="Кейс 2.">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/business/4.jpg" class="d-block w-100" alt="Кейс 3.">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/business/5.jpg" class="d-block w-100" alt="Кейс 4.">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/business/6.jpg" class="d-block w-100" alt="Кейс 5.">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/business/7.jpg" class="d-block w-100" alt="Кейс 6.">
                        </div>
                    </div>
                    <a class="carousel-control-prev justify-content-start justify-content-lg-center d-none d-md-flex"
                        href="#carouselBusiness" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next justify-content-end justify-content-lg-center d-none d-md-flex"
                        href="#carouselBusiness" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>