<div class="capabilities" id="capabilities">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-xl-6 text-center text-xl-left order-1 capabilities-header">
                <h1>ВОЗМОЖНОСТИ <span class="text-bluelight">FLY LUNCH</span> </h1>
                <h2 class="mt-4">Все необходимые инструменты для автоматизации предприятия в одной cистеме</h2>
            </div>
            <div class="col-12 col-xl-5 px-5 order-3 order-xl-2 text-center text-xl-left">
                <div class="d-none d-xl-block">
                    <h4>Настройте стиль вашего сайта</h4>
                    <p>а также меню в формате комплексных обедов или блюд.</p>
                    <h4>Загрузите описание и КБЖУ меню</h4>
                    <p>Клиенты могут выбрать меню на необходимый период и осуществить предзаказ.</p>
                </div>
                <div class="d-block d-xl-none mt-2 mt-md-5">
                    <p>Настройте стиль вашего сайта, а также меню в формате комплексных обедов или блюд.</p>
                    <p class="mt-3">Загрузите описание и КБЖУ меню. Клиенты могут выбрать меню на необходимый период
                        и осуществить предзаказ.</p>
                </div>
            </div>
            <div class="col-12 order-2 order-xl-3 p-0 px-sm-2">
                <div class="buttons text-center" data-target="#carouselExampleControls">
                    <button class="btn btn-custom-light btn-activate my-2 active"
                        data-target="#carouselExampleControls" data-slide-to="0">Сайт для заказа обедов</button>
                    <button class="btn btn-custom-light btn-activate my-2" data-target="#carouselExampleControls"
                        data-slide-to="1">мобильная версия сайта</button>
                    <button class="btn btn-custom-light btn-activate my-2" data-target="#carouselExampleControls"
                        data-slide-to="2">crm система</button>
                    <button class="btn btn-custom-light btn-activate my-2" data-target="#carouselExampleControls"
                        data-slide-to="3">бухгалтерия</button>
                    <button class="btn btn-custom-light btn-activate my-2" data-target="#carouselExampleControls"
                        data-slide-to="4">экран руководителя</button>
                    <button class="btn btn-custom-light btn-activate my-2" data-target="#carouselExampleControls"
                        data-slide-to="5">экран курьера</button>
                    <button class="btn btn-custom-light btn-activate my-2" data-target="#carouselExampleControls"
                        data-slide-to="6">экран повара</button>
                    <button class="btn btn-custom-light btn-activate my-2" data-target="#carouselExampleControls"
                        data-slide-to="7">экран кладовщика</button>
                    <button class="btn btn-custom-light btn-activate my-2" data-target="#carouselExampleControls"
                        data-slide-to="8">экран упаковщика</button>
                </div>
            </div>
            <div class="col-12 order-4">
                <div id="carouselExampleControls" class="carousel slide d-flex justify-content-center"
                    data-ride="carousel" data-interval="false" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/files/img/slides/slide-1.jpg" class="d-block w-100" alt="0">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/slide-2.jpg" class="d-block w-100" alt="1">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/slide-3.jpg" class="d-block w-100" alt="2">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/slide-4.jpg" class="d-block w-100" alt="3">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/slide-5.jpg" class="d-block w-100" alt="4">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/slide-6.jpg" class="d-block w-100" alt="5">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/slide-7.jpg" class="d-block w-100" alt="6">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/slide-8.jpg" class="d-block w-100" alt="7">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/slide-9.jpg" class="d-block w-100" alt="8">
                        </div>
                    </div>
                    <a class="carousel-control-prev justify-content-start justify-content-lg-center d-none d-md-flex"
                        href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next justify-content-end justify-content-lg-center d-none d-md-flex"
                        href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>