<div class="contact">
    <div class="container">
        <div class="row align-items-center justify-content-md-between justify-content-center text-center text-md-left">
            <div class="col-12 col-md-8 col-lg-6">
                <p>
                    620014, Россия, г. Екатеринбург, <br class="d-block d-md-none">ул. Чернышевского, 7, оф. 503<br>+7 812 467-38-29
                </p>
            </div>
            <!-- <div class="col-md mt-3 mt-md-0 col-12 order-3 order-md-2">
                <a href="tel:88005558585">
                    <h2>8 800 555-85-85</h2>
                </a>
            </div> -->
            <div class="col-6 mt-3 mt-md-auto col-md-4 col-xl-3 d-flex justify-content-around order-md-3">
                <a href="#"><i class="fab fa-vk"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>