<div class="footer">
    <div class="container h-100">
        <div class="row h-100 justify-content-between">
            <div class="col-md-3 col-6 d-flex flex-column link-group">
                <h2>О нас</h2>
                <a class="link" href="/pages/capabilities.html">Возможности</a>
                <a class="link" href="/pages/price.html">Цены</a>
                <a class="link" href="/pages/partners.html">Партнерам</a>
                <a class="link" href="/pages/vacancies.html">Вакансии</a>
                <a class="link" href="/pages/developer.html">Разработчикам</a>
            </div>
            <div class="col-md-3 col-6 d-flex flex-column link-group">
                <h2>Сервис</h2>
                <a class="link" href="https://docs.google.com/document/d/10KKIiKQbjc-ia8TWMQ4DCORIS_lX17IriKxgB9b0EM0/edit?usp=sharing" target="blank">База знаний</a>
                <a class="link" href="https://docs.google.com/document/d/10KKIiKQbjc-ia8TWMQ4DCORIS_lX17IriKxgB9b0EM0/edit?usp=sharing" target="blank">Быстрый старт</a>
                <a class="link" href="/pages/integration.html">Интеграции</a>
                <a class="link" href="https://docs.google.com/document/d/10KKIiKQbjc-ia8TWMQ4DCORIS_lX17IriKxgB9b0EM0/edit?usp=sharing" target="blank">Вопросы и ответы</a>
            </div>
            <div class="col-md-3 col-6 d-flex flex-column link-group">
                <h2>Документы</h2>
                <a class="link" href="/pages/contract.html">Договор оферты</a>
                <a class="link" href="/pages/politic.html">Политика конфинденциальности</a>
                <a class="link" href="#">Согласие на обработку персональных данных</a>
                <a class="link" href="/pages/requisites.html">Реквизиты</a>
            </div>
            <div class="col-md-3 col-6 d-flex flex-column link-group">
                <h2>Информация</h2>
                <a class="link" href="/pages/presentation.html">Презентация системы FLY LUNCH</a>
                <a class="link" href="/pages/help-business.html">Как платформа FLY LUNCH помогает малому бизнесу / предприятиям общественного питания</a>
            </div>
        </div>
    </div>
</div>