<div class="graphic-text post">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Автоматизируйте доставку блюд и обедов на предприятия</h1>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p>
                    Ключевая цель маркетинговых стратегий — продажи. Но построить эффективную стратегию продаж без
                    коммуникации с гостями непросто, и от того, насколько правильно выстроен диалог, зависит главное —
                    станет ли гость постоянным, лояльным к бренду клиентом.
                </p>
                <h2>Зачем ресторану приветственные письма?</h2>
                <p>В ресторанах, кафе, барах и кофейнях строго регламентирован процесс приема гостей, но малое число
                    рестораторов уделяет внимание приветственной цепочке писем — сообщений для новых гостей, вступивших
                    в программу лояльности.

                    Приветственное письмо — автоматизированное сообщение, которое отправляется пользователю по триггеру
                    «Регистрация». </p>
                <h3>Какие цели и задачи закрывает приветственная рассылка:</h3>
                <ul>
                    <li>
                        <p>Побудить на последующее посещение заведения;</p>
                    </li>
                    <li>
                        <p>Информировать об условиях и правилах программы лояльности;</p>
                    </li>
                    <li>
                        <p>Расширить каналы взаимодействия;</p>
                    </li>
                    <li>
                        <p>Побудить подписаться на ваш профиль в социальных сетях;</p>
                    </li>
                    <li>
                        <p>Информировать об интересных событиях и новостях.</p>
                    </li>
                </ul>
                <p>
                    Анализ эффективности приветственных сообщений в рамках открытий и переходов — одна из ключевых
                    метрик. Но более весомым аргументом в правильно построенной welcome-цепочке писем будут служить
                    новые покупки и рост числа лояльных клиентов. С задачей анализа динамики роста лояльных гостей
                    отлично справляется RFM анализ. Подключите приложение Target Data в marketplace программы для
                    ресторана Poster и используйте RFM для анализа движения гостей и покупательской активности, что
                    может служить ключевой метрикой результата работы маркетолога вашего заведения.
                </p>
                <h2>Настраиваем приветственную цепочку писем</h2>
                <blockquote>
                    Главная цель приветственной цепочки писем — сформировать лояльность к бренду и мотивировать
                    подписчика на очередную покупку.
                </blockquote>
                <p>Через интеграцию с SendPulse в Marketplace Poster вы можете отправлять как ручные так и триггерные
                    письма, создавая целые цепочки сообщений на основе предыдущей активности подписчиков. Мы набросали
                    несколько идей для универсального сценария приветственной серии писем. В нашей цепочке семь писем:
                </p>
                <p>Вот как выглядит готовая схема цепочки писем в конструкторе Automation 360 от SendPulse.</p>
                <img src="/files/img/1_sendpulse.png" class="w-100" alt="">
                <p>
                    Cпециализированная система ERP-класса,
                    предназначенная для автоматизации общественного питания. Доставка, склад, персонал, кухня, финансы,
                    отчетность —
                    всё в единой системе.
                </p>
                <h2>Вывод</h2>
                <p>Приветственные сообщения, как инструмент коммуникации отлично знакомит гостя с вашим продуктом, что
                    повышает ценность бренда. Окружите гостей вниманием, построение коммуникаций в разрезе online
                    каналов, позволит вам достигнуть новых результатов, предвосхитить ожидания гостей.</p>
            </div>
        </div>
    </div>
</div>