<div class="header">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-auto pr-0">
                <a class="knowledge-base" href="https://docs.google.com/document/d/10KKIiKQbjc-ia8TWMQ4DCORIS_lX17IriKxgB9b0EM0/edit?usp=sharing" target="blank">База знаний</a>
                <a href="tel:+78124673829" class="phone">
                    <span class="ico ibg-phone"></span>
                    +7 812 467-38-29
                </a>
            </div>
            <div class="col-auto ml-auto pl-0">
                <a class="join-link" href="#" data-toggle="modal" data-target="#sign-in-modal">Войти</a>
                <a class="dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-flip="false">
                    Русский
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <!-- <a class="dropdown-item" href="#">English</a> -->
                    <a class="dropdown-item" href="#">Русский</a>
                </div>
            </div>
        </div>
    </div>
</div>