<div class="plane-text">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Автоматизируйте доставку блюд и обедов на предприятия</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="date">05.07.2020</p>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p class="text-justify">
                    Cпециализированная система ERP-класса,
                    предназначенная для автоматизации общественного питания. Доставка, склад, персонал, кухня, финансы, отчетность —
                    всё в единой системе. Cпециализированная система ERP-класса,
                    предназначенная для автоматизации общественного питания. Доставка, склад, персонал, кухня, финансы, отчетность —
                    всё в единой системе. Cпециализированная система ERP-класса,
                    предназначенная для автоматизации общественного питания. Доставка, склад, персонал, кухня, финансы, отчетность —
                    всё в единой системе. Cпециализированная система ERP-класса,
                    предназначенная для автоматизации общественного питания. Доставка, склад, персонал, кухня, финансы, отчетность —
                    всё в единой системе.
            
                </p>
                <p class="text-justify mt-3">
                    Cпециализированная система ERP-класса,
                    предназначенная для автоматизации общественного питания. Доставка, склад, персонал, кухня, финансы, отчетность —
                    всё в единой системе. Cпециализированная система ERP-класса,
                    предназначенная для автоматизации общественного питания. Доставка, склад, персонал, кухня, финансы, отчетность —
                    всё в единой системе. Cпециализированная система ERP-класса,
                    предназначенная для автоматизации общественного питания. Доставка, склад, персонал, кухня, финансы, отчетность —
                    всё в единой системе. Cпециализированная система ERP-класса,
                    предназначенная для автоматизации общественного питания. Доставка, склад, персонал, кухня, финансы, отчетность —
                    всё в единой системе.
                </p>
                <p class="text-justify mt-3">
                    Cпециализированная система ERP-класса,
                    предназначенная для автоматизации общественного питания. Доставка, склад, персонал, кухня, финансы, отчетность —
                    всё в единой системе.
                </p>
            </div>
        </div>
    </div>
</div>