<div class="tariff" id="tariff">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Попробуйте <span class="text-bluelight">FLY LUNCH</span> бесплатно</h1>
                <h2 class="text-bluelight d-none d-lg-block">FLY LUNCH работает по модели подписки</h2>
                <h2 class="text-bluedark d-none d-lg-block">Первые 14 дней бесплатно</h2>
                <p class="p-top d-block d-lg-none">FLY LUNCH работает по модели подписки. Первые 14 дней бесплатно</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col p-0 p-sm-auto buttons">
                <button class="btn btn-custom-white btn-activate btn-change-price" data-round="1">Ежемесячно</button>
                <button class="btn btn-custom-white btn-activate btn-change-price" data-round="3">Ежеквартально</button>
                <button class="btn btn-custom-white btn-activate btn-change-price active" data-round="6">Раз в 6 месяцев</button>
                <button class="btn btn-custom-white btn-activate btn-change-price" data-round="12">Ежегодно</button>
            </div>
        </div>
        <div class="row align-items-end mt-4 mt-lg-5">
            <div class="col-lg-3 col-md-6 col-12 px-2 mt-3 tariff-item">
                <div class="col-12 py-3 wrap bg-white d-flex flex-column justify-content-sm-between">
                    <div class="row mx-lg-0 mx-2 text-lg-center">
                        <div class="col">
                            <h4>Базовый</h4>
                            <p class="p-header">
                                Хватит принимать заявки
                                по телефону и в WhatsApp
                            </p>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="advantages text-left">
                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Сайт с кастомизацией и личным кабинетом</p>
                                    </div>
                                </div>
                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Статистика продаж и ключевые показатели</p>
                                    </div>
                                </div>

                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Отчёты по периодам и клиентам</p>
                                    </div>
                                </div>
                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Гибкий конструктор меню</p>
                                    </div>
                                </div>
                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Права доступа к платформе сотрудникам</p>
                                    </div>
                                </div>

                                <div class="row advantages-item ">
                                    <div class="col-1"></div>
                                    <div class="col">
                                        <a class="tariff-details" data-toggle="modal" data-target="#plansModal"
                                            href="#">Все
                                            детали тарифа</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 tariff-bottom">
                        <div class="col-6 p-0 col-lg-12 text-center d-flex align-items-center justify-content-center order-2 order-lg-1">
                            <h1 class="base-price mx-1">8300</h1><span class="currency mx-1">₽/мес</span>
                        </div>
                        <div class="col-12 p-0 col-lg-12 text-center order-1 order-lg-2">
                            <div class="price-message mb-2">
                                При оплате за полгода
                            </div>
                        </div>
                        <div class="col-6 p-0 col-lg-12 text-center tariff-button order-3 order-lg-3">
                            <a href="" class="btn btn-block btn-outline-tariff" tabindex="-1"
                            aria-disabled="true" data-toggle="modal" data-target="#registrationModal">Выбрать</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 px-2 mt-3 tariff-item">
                <div class="col-12 py-3 wrap bg-white d-flex flex-column justify-content-sm-between">
                    <div class="row mx-2 mx-lg-0 text-lg-center">
                        <div class="col">
                            <h4>Базовый+Интеграция</h4>
                            <p class="p-header">
                                Расширьте возможности
                                вашей системы автоматизации
                            </p>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="advantages text-left">
                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Все достоинства трифа Базовый</p>
                                    </div>
                                </div>
                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Интеграция с ведущими системами автоматизации</p>
                                    </div>
                                </div>

                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Бухгалтерия: номенклатура, контрагенты</p>
                                    </div>
                                </div>

                                <div class="row advantages-item ">
                                    <div class="col-1"></div>
                                    <div class="col">
                                        <a class="tariff-details" data-toggle="modal" data-target="#plansModal"
                                            href="#">Все
                                            детали тарифа</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 tariff-bottom">
                        <div class="col-6 p-0 col-lg-12 text-center d-flex align-items-center justify-content-center order-2 order-lg-1">
                            <h1 class="base-plus-price mx-1">24900</h1><span class="currency mx-1">₽/мес</span>
                        </div>
                        <div class="col-12 p-0 col-lg-12 text-center order-1 order-lg-2">
                            <div class="price-message mb-2">
                                При оплате за полгода
                            </div>
                        </div>
                        <div class="col-6 p-0 col-lg-12 text-center tariff-button order-3 order-lg-3">
                            <a href="" class="btn btn-block btn-outline-tariff" tabindex="-1"
                            aria-disabled="true" data-toggle="modal" data-target="#registrationModal">Выбрать</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 px-2 mt-3 best tariff-item">
                <div class="best-header d-flex align-items-center justify-content-center">
                    <p>Лучший выбор</p>
                </div>
                <div class="col-12 py-3 best-wrap bg-white d-flex flex-column justify-content-sm-between">
                    <div class="row mx-2 mx-lg-0 text-lg-center">
                        <div class="col">
                            <h4>Профессиональный</h4>
                            <p class="p-header">
                                Комплексное решение.
                                Вся автоматизация и учет
                                в одной платформе
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="advantages mt-3 mt-lg-2 text-left">
                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Все достоинства трифа Базовый + Интеграция</p>
                                    </div>
                                </div>
                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Расширенные права доступа для поваров менеджеров и бухгалтеров</p>
                                    </div>
                                </div>

                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Экран повара</p>
                                    </div>
                                </div>
                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Технологические карты блюд</p>
                                    </div>
                                </div>

                                <div class="row advantages-item ">
                                    <div class="col-1"></div>
                                    <div class="col">
                                        <a class="tariff-details" data-toggle="modal" data-target="#plansModal"
                                            href="#">Все
                                            детали тарифа</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 tariff-bottom">
                        <div class="col-6 p-0 col-lg-12 text-center d-flex align-items-center justify-content-center order-2 order-lg-1">
                            <h1 class="pro-price mx-1">46900</h1><span class="currency mx-1">₽/мес</span>
                        </div>
                        <div class="col-12 p-0 col-lg-12 text-center order-1 order-lg-2">
                            <div class="price-message mb-2">
                                При оплате за 6 месяцев
                            </div>
                        </div>
                        <div class="col-6 p-0 col-lg-12 text-center tariff-button order-3 order-lg-3">
                            <a href="" class="btn btn-block btn-custom-primary" tabindex="-1"
                            aria-disabled="true" data-toggle="modal" data-target="#registrationModal">Выбрать</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 px-2 mt-3 tariff-item">
                <div class="col-12 py-3 wrap bg-white d-flex flex-column justify-content-sm-between">
                    <div class="row mx-2 mx-lg-0 text-lg-center">
                        <div class="col">
                            <h4>Индивидуальный</h4>
                            <p class="p-header">
                                Частное решение <br>
                                для крупных сетей
                            </p>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="advantages text-left">
                                <div class="row advantages-item">
                                    <div class="col-1">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="col">
                                        <p>Индивидуальное предложение и частные решения для крупных сетей
                                            и федеральных компаний</p>
                                    </div>
                                </div>
                                <div class="row advantages-item ">
                                    <div class="col-1"></div>
                                    <div class="col">
                                        <a class="tariff-details" data-toggle="modal" data-target="#plansModal"
                                            href="#">Все
                                            детали тарифа</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 tariff-bottom align-items-center">
                        <div class="col-6 p-0 col-lg-12 text-center order-2 order-lg-1">
                            <div class="price">
                                <h2>По запросу</h2>
                            </div>
                        </div>
                        <div class="col-12 p-0 text-center order-1 order-lg-2">
                            <div class="price-message mb-2">
                            </div>
                        </div>
                        <div class="col-6 p-0 col-lg-12 text-center tariff-button order-3 order-lg-3">
                            <a href="" class="btn btn-block btn-outline-tariff" tabindex="-1"
                            aria-disabled="true" data-toggle="modal" data-target="#registrationModal">Выбрать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4 text-center">
                <a class="compare-link" href="#" data-toggle="modal" data-target="#plansModal">Сравнить все
                    тарифы</a>
            </div>
        </div>
    </div>
</div>