<div class="top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-auto col-12 p-0">
                <div class="d-md-none d-block text-center">
                    <a href="/"><img class="logo" src="/files/img/logo.svg"></a> 
                </div>
                <div class="d-md-block d-none">
                    <a href="/"><img class="logo" id="logo-top" src="/files/img/logo-white.svg"></a>
                </div>
            </div>
            <div class="col-auto ml-auto main-menu d-md-block d-none p-0 links">
                <a class="mx-2 mx-lg-4" href="#capabilities">Возможности</a>
                <a class="mx-2 mx-lg-4" href="#tariff">Цены</a>
                <a class="mx-2 mx-lg-4" href="#business">Кейсы</a>
                <a class="btn-custom btn-custom-primary border-0 ml-2 ml-lg-4" href="" tabindex="-1"
                    aria-disabled="true" data-toggle="modal" data-target="#registrationModal" >ПОПРОБОВАТЬ
                    БЕСПЛАТНО</a>
            </div>
        </div>
    </div>
</div>
<div class="top top-sticky d-none d-md-block" style="padding: 10px 0 10px" id="top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-auto col-12 p-0">
                <div class="d-md-none d-block text-center">
                    <a href="/"><img class="logo" src="/files/img/logo.svg"></a> 
                </div>
                <div class="d-md-block d-none">
                    <a href="/"><img class="logo" style="height: 50px" src="/files/img/logo-white.svg"></a>
                </div>
            </div>
            <div class="col-auto ml-auto main-menu d-md-block d-none p-0 links">
                <a class="mx-2 mx-lg-4" href="#capabilities">Возможности</a>
                <a class="mx-2 mx-lg-4" href="#tariff">Цены</a>
                <a class="mx-2 mx-lg-4" href="#business">Кейсы</a>
                <a class="btn-custom btn-custom-primary border-0 ml-2 ml-lg-4" href="" tabindex="-1"
                    aria-disabled="true" data-toggle="modal" data-target="#registrationModal" >ПОПРОБОВАТЬ
                    БЕСПЛАТНО</a>
            </div>
        </div>
    </div>
</div>