<div class="try-it-form" id="try">
    <div class="container-md container-fluid">
        <div class="row px-2 px-md-2">
            <div class="col">
                <h1>Попробуйте <span class="text-bluelight">FLY LUNCH</span> бесплатно</h1>
                <p>
                    Создайте аккаунт прямо сейчас.
                    Первые 14 дней бесплатно
                </p>
                <form action="" id="try-form">
                    <div class="row form-group justify-content-center mt-3">
                        <div class="col-9 col-md-4 col-lg-3 p-0 m-lg-2 m-1 text-left">
                            <input type="text" class="" name="name" id="form-name" placeholder="Имя">
                        </div>
                        <div class="col-9 col-md-4 col-lg-3 p-0 m-lg-2 m-1 text-left">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="down-phone d-flex align-items-center" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                        <div class="icon-flag-phone phone-code-flag ru mx-1"></div>
                                        <div class="phone-code mx-1">+7</div>
                                    </div>
                                    <div class="dropdown-menu drop-down-menu-phone">
                                        <div class="dropdown-item phone-code-item d-flex align-items-center" data-country="ru">
                                            <div class="phone-code-flag ru mr-2"></div>
                                            <div class="country">Россия +7</div> 
                                        </div>
                                        <div class="dropdown-item phone-code-item d-flex align-items-center" data-country="ua">
                                            <div class="phone-code-flag ua mr-2"></div>
                                            <div class="country">Украина +380</div> 
                                        </div>
                                        <div class="dropdown-item phone-code-item d-flex align-items-center" data-country="kz">
                                            <div class="phone-code-flag kz mr-2"></div>
                                            <div class="country">Казахстан +7</div>
                                        </div>
                                        <div class="dropdown-item phone-code-item d-flex align-items-center" data-country="by">
                                            <div class="phone-code-flag by mr-2"></div>
                                            <div class="country">Беларусь +375</div>
                                        </div>
                                        <div class="dropdown-item phone-code-item d-flex align-items-center" data-country="uz">
                                            <div class="phone-code-flag uz mr-2"></div>
                                            <div class="country">Узбекистан +998</div>
                                        </div>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <div class="dropdown-item phone-code-item d-flex align-items-center" data-country="af">
                                            <div class="phone-code-flag af mr-2"></div>
                                            <div class="country">Афганистан +93</div>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone phone-input" name="phone" id="form-phone"
                                    aria-label="Text input with dropdown button" placeholder="912 238-18-58">
                            </div>
                            <!-- <input class="phone" id="form-phone" type="text" name="phone" placeholder="Телефон"> -->
                        </div>
                        <div class="col-9 col-md-3 p-0 m-lg-2 m-1 text-left">
                            <input type="submit" class="btn-custom btn-block btn-custom-secondary" value="Попробовать">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>