<div class="utp">
    <div class="container h-100">
        <div class="row">
            <div class="col-md-6 p-md-0">
                <div class="utp-inner text-center text-md-left">
                    <div class="row">
                        <div class="col">
                            <h1>Автоматизируйте доставку блюд и обедов на предприятия</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2>
                                Стоимость от 50 руб. в день<br>
                                Настройка и запуск от 1 дня
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-11 col utp-text pr-md-5">
                            <h4>FLY LUNCH</h4>
                            <p class="text-bottom mt-0">
                                Специализированная система ERP-класса,
                                предназначенная для автоматизации
                                общественного
                                питания. Доставка, склад, персонал, кухня, финансы, отчетность - всё в единой
                                системе.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>