<!-- Modal -->
<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
	aria-labelledby="sign-in-modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="close-custom" data-dismiss="modal" aria-label="Close"></div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col text-center">
							<h1>Вход</h1>
							<div class="form-line">
								<input type="text" name="name" placeholder="Ваш поддомен на Flylunch">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col text-center">
							<input type="button" class="btn-custom btn-custom-primary" value="Перейти">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="plansModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
	aria-labelledby="plansModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-body">
				<div class="plane-modal-header d-flex align-items-center border-bottom-deep-blue">
					<div class="container">
						<a href="#" data-dismiss="modal" aria-label="Close" class="d-flex align-items-center"><span
								class="close-modal mr-3"></span>На главную</a>
					</div>
				</div>
				<div class="container fly-table">
					<div class="row mt-4 justify-content-xl-start justify-content-lg-around">
						<div class="col-12 col-lg-3 mr-5 text-center text-lg-left ">
							<h1>Сравнение возможностей тарифов</h1>
						</div>
						<div class="col-12 col-lg-7 text-center text-lg-left">
							<h2>Вы сможете выбрать тариф который подойдет именно вам</h2>
							<h4>Мы используем безопасный шлюз оплаты и сертификаты секьюрности. Ваши платежи будут
								безопасны</h4>
						</div>
					</div>
					<div class="row t-header text-center t-row-header align-items-end">
						<div class="col"></div>
						<div class="col ">
							<h5>Базовый</h5>
							<p class="px-2 pb-2">Хватит принимать заявки по телефону и в WhatsApp</p>
						</div>
						<div class="col">
							<h5>Базовый<br class="d-block d-lg-none">+<br class="d-block d-lg-none">интеграция</h5>
							<p class="pb-2">Расширьте возможности вашей системы автоматизации</p>
						</div>
						<div class="col best">
							<div class="best-header d-flex align-items-center justify-content-center">
								<p>Лучший выбор</p>
							</div>
							<h5>Профессиональный</h5>
							<p class="pb-2">Комплексное решение. Вся автоматизация и учет в одной платформе</p>
						</div>
						<div class="col">
							<h5>Индивидуальный</h5>
							<p class="pb-2">Частное решение <br> для крупных сетей</p>
						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<h5>Клиентская часть</h5>
							<p>Сайт с вашим меню</p>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p>Настройка фирменного стиля сайта, загрузка вашего логотипа</p>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p><b>Личный кабинет клиента:</b> добавление и редактирование заказов,
								печать меню,история заказов, формирование отчетов по заказам
							</p>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row t-row-head ">
						<div class="col">
							<h5>Back Office</h5>
							<p><b>Рабочий стол:</b> статистика продаж, ключевые показатели в разрезе клиентов</p>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p><b>Отчеты.</b> Формирование отчетов в разрезе периода, клиентов
							</p>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p><b>Меню.</b> Констуктор меню, назначение стоимости, назначение меню для каждого
								клиента
							</p>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p><b>Сотрудники.</b> Права доступа к платформе: администратор, упаковщик, курьер
							</p>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row t-row-no-border">
						<div class="col">
							<p>Права доступа к платформе:
								повар, менеджер, бухгалтер
							</p>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p><b>Клиенты.</b> Управление аккаунтами клиентов.
								Тонкие настройки для каждого клиента (время заказа, способы оплаты, место отгрузки и
								др.)
								Ваши клиенты через личный кабинет делают заказы, могут их редактировать, распечатать
								меню и
								сформировать отчет по заказам
							</p>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p><b>Управление заказами.</b> Все заказы от клиентов поступают на кухню,
								после приготовления и сборки их видят курьеры
							</p>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row t-row-no-border">
						<div class="col">
							<p>Заказы видят повара, упаковщики и курьеры
							</p>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p><b>Экран повара</b>
							</p>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p>
								Технологические карты всех блюд
							</p>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p>
								Интеграция с системами автоматизации: Poster, iiko, r-keeper:
							</p>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row t-row-head ">
						<div class="col">
							<h5>Бухгалтерия</h5>
							<p><b>Номенклатура:</b> товары, полуфабрикаты, блюда.
								Контрагенты: покупатели</p>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p>
								<b>Контрагенты:</b> поставщики
							</p>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p>
								<b>Прозводство:</b> Приход товара, выпуск продукции, расходные накладные, списание.
								<b>Отчет по прибыли и выставление счетов покупателям. </b>
							</p>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p>
								<b>Инвентаризация:</b> частичная и полная инвентаризация остатков на производстве.
								<b>Заявка на продукты:</b> расчет товара для закупа.
							</p>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row ">
						<div class="col">
							<p>
								<b>CRM система.</b>
								Воронка продаж, интеграция с IP телефоней, планировщик задач.
							</p>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="cross"></div>
						</div>
						<div class="col">
							<div class="circle"></div>
						</div>
						<div class="col">

						</div>
					</div>
					<div class="row t-row t-btn">
						<div class="col">

						</div>
						<div class="col">
							<div class="price">
								<h1>1500 <span class="currency">₽/мес</span></h1>
							</div>
							<div class="tariff-button">
								<a href="" class="btn btn-outline-tariff" tabindex="-1"
								aria-disabled="true" data-toggle="modal" data-dismiss="modal" aria-label="Close" data-target="#registrationModal">Выбрать</a>
							</div>
						</div>
						<div class="col">
							<div class="price">
								<h1>4500 <span class="currency">₽/мес</span></h1>
							</div>
							<div class="tariff-button">
								<a href="" class="btn btn-outline-tariff" tabindex="-1"
								aria-disabled="true" data-toggle="modal" data-dismiss="modal" aria-label="Close" data-target="#registrationModal">Выбрать</a>
							</div>
						</div>
						<div class="col">
							<div class="price">
								<h1>8500 <span class="currency">₽/мес</span></h1>
							</div>
							<div class="tariff-button">
								<a href="" class="btn btn-custom-primary" tabindex="-1"
								aria-disabled="true" data-toggle="modal" data-dismiss="modal" aria-label="Close" data-target="#registrationModal">Выбрать</a>
							</div>
						</div>
						<div class="col">
							<div class="price">
								<h2 class="h-request">По запросу</h2>
							</div>
							<div class="tariff-button">
								<a href="" class="btn btn-outline-tariff" tabindex="-1"
								aria-disabled="true" data-toggle="modal" data-dismiss="modal" aria-label="Close" data-target="#registrationModal">Выбрать</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Модальное окно регистрации -->
<!-- Modal -->
<div class="modal fade modal-full" id="registrationModal" tabindex="-1" role="dialog" data-backdrop="static"
	data-keyboard="false" aria-labelledby="plansModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-body">
				<div class="plane-modal-header d-flex align-items-center border-bottom-deep-blue">
					<div class="container">
						<a href="#" data-dismiss="modal" aria-label="Close" class="d-flex align-items-center">
							<span class="close-modal mr-3"></span>На главную</a>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col text-center">
							<div class="registration-modal-header mt-3">
								<h1>Регистрация</h1>
								<p>Создайте аккаунт прямо сейчас. Первые 14 дней бесплатно</p>
							</div>
						</div>
					</div>
					<div class="registration-body">
						<div class="tab-content">


							<div class="tab-pane fade  show active" id="step-1" role="tabpanel"
								aria-labelledby="step-1-tab">
								<form action="" id="step-1-form" method="post">
									<div class="row">
										<div class="col text-center">
											<div class="steps-info">
												<p>Шаг 1 из 2: создаем ваш аккаунт</p>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col">
											<div class="form-line">
												<div class="reg-group">
													<label for="">Ваше имя</label>
													<input type="text" class="modal-name" name="name" placeholder="">
												</div>
												<div class="reg-group">
													<label for="">Номер телефона</label>
													<div class="input-group mb-3">
														<div class="input-group-prepend">
															<div class="down-phone d-flex align-items-center" data-toggle="dropdown"
															aria-haspopup="true" aria-expanded="false">
																<div class="icon-flag-phone phone-code-flag mx-1 ru"></div>
																<div class="phone-code mx-1">+7</div>
															</div>
															<div class="dropdown-menu drop-down-menu-phone">
																<div class="dropdown-item phone-code-item d-flex align-items-center" data-country="ru">
																	<div class="phone-code-flag ru mr-2"></div>
																	<div class="country">Россия +7</div> 
																</div>
																<div class="dropdown-item phone-code-item d-flex align-items-center" data-country="ua">
																	<div class="phone-code-flag ua mr-2"></div>
																	<div class="country">Украина +380</div> 
																</div>
																<div class="dropdown-item phone-code-item d-flex align-items-center" data-country="kz">
																	<div class="phone-code-flag kz mr-2"></div>
																	<div class="country">Казахстан +7</div>
																</div>
																<div class="dropdown-item phone-code-item d-flex align-items-center" data-country="by">
																	<div class="phone-code-flag by mr-2"></div>
																	<div class="country">Беларусь +375</div>
																</div>
																<div class="dropdown-item phone-code-item d-flex align-items-center" data-country="uz">
																	<div class="phone-code-flag uz mr-2"></div>
																	<div class="country">Узбекистан +998</div>
																</div>
																<div role="separator" class="dropdown-divider"></div>
																<div class="dropdown-item phone-code-item d-flex align-items-center" data-country="af">
																	<div class="phone-code-flag af mr-2"></div>
																	<div class="country">Афганистан +93</div>
																</div>
															</div>
														</div>
														<input type="text" class="form-control phone phone-input" name="phone" id="modal-phone"
															aria-label="Text input with dropdown button" placeholder="912 238-18-58">
													</div>
												</div>
												<div class="reg-group">
													<label for="">Название заведения</label>
													<input type="text" name="manufacture_name" id="manufacture-modal"
														placeholder="">
													<label for="" id="manufacture-modal-label"></label>
												</div>
												<div class="reg-group">
													<label for="">Эл. почта</label>
													<input type="email" name="email" id="email-modal" placeholder="">
												</div>
												<div class="reg-group">
													<label for="">Пароль</label>
													<input type="password" name="password" placeholder="">
													<label for="" id="label-password-bottom"
														class="label-bottom">Минимум 6
														символов</label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<a href="#" class="promo-link"
												onclick="$('#registration-promo').css('display','block')">У меня есть
												промокод</a>
											<div class="reg-group">
												<input type="promocode" style="display: none" id="registration-promo"
													name="promocode" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col text-center mt-3">
											<button class="btn btn-block btn-custom-secondary"
												type="submit">Продолжить</button>
											<input type="hidden" data-toggle="tab" id="step-1-tab" href="#step-2"
												role="tab" aria-controls="step-2" aria-selected="false">
										</div>
									</div>
									<div class="row">
										<div class="col mt-2 text-center">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="personalContractCheck" name="contract" checked>
												<label class="custom-control-label" for="personalContractCheck">Согласен на обработку <a href="/pages/user-agreement.html">персональных данных</a></label>
												
											  </div>
										</div>
									</div>
								</form>
							</div>


							<div class="tab-pane fade" id="step-2" role="tabpanel" aria-labelledby="step-2-tab">
								<form action="" id="step-2-form">
									<div class="row">
										<div class="col text-center">
											<div class="steps-info">
												<p>Шаг 2 из 2: настраиваем аккаунт для вашего бизнеса</p>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col">
											<div class="reg-group">
												<label for="buisnes_is_work">Ваш бизнес уже работает?</label>
												<select name="buisnes_is_work" id="buisnes_is_work">
													<option value="" disabled selected>Выберите...</option>
													<option value="1">Просто знакомлюсь с функционалом FLY LUNCH</option> 
													<option value="2">Скоро открывается</option> 
													<option value="3">Да, заведение уже работает</option>
												</select>
											</div>
											<div class="reg-group">
												<label for="manufacture_name">Укажите тип заведения</label>
												<select name="manufacture_name" id="manufacture_name">
													<option value="" disabled selected>Выберите...</option>
													<option value="1">Dark kitchen (заведение без зала)</option>
													<option value="2">Столовая</option>
													<option value="3">Кафе</option>
													<option value="4">Ресторан</option>
												</select>
											</div>
											<div class="reg-group">
												<label for="role_in_company">Укажите вашу роль в компании</label>
												<select name="role_in_company" id="role_in_company">
													<option value="" disabled selected>Выберите...</option>
													<option value="1">Учредитель</option>
													<option value="2">Управляющий</option>
													<option value="3">Маркетолог</option>
													<option value="4">Другое</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mt-3">
											<button class="btn btn-block btn-custom-secondary">Перейти в
												аккаунт</button>
										</div>
									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>