@@include('../_blocks/layouts/header.html') 

@@include('../_blocks/capabilities.html')

<div class="graphic-text post">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Автоматизируйте доставку блюд и обедов на предприятия</h1>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p>
                    Система FLY LUNCH регулярно расширяет функционал задавая стандарты автоматизации корпоративного питания.
                </p>
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/try-it-form.html')

@@include('../_blocks/layouts/footer.html')