@@include('../_blocks/layouts/header.html')

<div class="graphic-text">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1>Разработчикам</h1>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p class="text-justify">
                    Мы всё подготовили
                    Чтобы вы могли продавать приложения малому бизнесу, мы создали платформу — FLY LUNCH.
                    Присоединяйтесь к marketplace, сформируйте ваш запрос по адресу cto@flylunch.ru с указанием
                    информации:
                </p>
                <p class="text-justify">
                    - Бизнес идея<br>
                    - Какую задачу решает ваше приложение<br>
                </p>
                <p class="text-justify">
                    Наш специалист свяжется с вами проконсультирует и ответ на все вопросы, предоставит необходимую API
                    документацию, а также поможет с быстрым запуском приложения.
                </p>
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/layouts/footer.html')