@@include('../_blocks/layouts/header.html')

<div class="graphic-text">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1>Интеграции</h1>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p class="text-justify">
                    Интеграция с вашей системой автоматизации
                    Мы регулярно расширяем список интеграций с популярными POS системами и обновляем функционал FLY
                    LUNCH.
                </p>
                <p class="text-justify">
                    Наши клиенты любят нас за то, что мы делаем их задачи, как свои и нацелены только на положительный
                    результат.
                </p>
                <div class="icons-integration">
                    <div class="row text-center">
                        <div class="col">
                            <img src="/files/img/integration/evotor.png" alt="">
                        </div>
                        <div class="col">
                            <img src="/files/img/integration/iiko.png" alt="">
                        </div>
                        <div class="col">
                            <img src="/files/img/integration/LIFEPAY.png" alt="">
                        </div>
                        <div class="col">
                            <img src="/files/img/integration/moisklad_opt.png" alt="">
                        </div>
                        <div class="col">
                            <img src="/files/img/integration/poster.png" alt="">
                        </div>
                        <div class="col">
                            <img src="/files/img/integration/qr.png" alt="">
                        </div>
                        <div class="col">
                            <img src="/files/img/integration/rkeeper.png" alt="">
                        </div>
                        <div class="col">
                            <img src="/files/img/integration/you-system.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/layouts/footer.html')