@@include('../_blocks/layouts/header.html')

<div class="graphic-text">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1>Партнерам</h1>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p class="text-justify">
                    Кому подойдет партнерская программа FLY LUNCH
                    Наша партнерская программа подойдет рекламным и консалтинговым агентствам в специализирующимся на
                    сегменте HORECA, веб-студиям, компаниям специализирующимся на автоматизации малого и среднего
                    предпринимательства.
                </p>
                <p class="text-justify">
                    В рамках партнерской программы предусмотрены два варианта сотрудничества:
                <h2>Статус Агент</h2>
                Партнерское вознаграждение (% от оборота клиентов) — 10%
                Период получения вознаграждения — первые 3 месяца работы клиента
                Задача — рекомендация и привлечение клиентов.
                </p>
                <p class="text-justify">
                <h2>Статус Партнер</h2>
                Партнерское вознаграждение (% от оборота клиентов) — до 15%
                (зависит от оборота)
                Период получения вознаграждения — весь срок работы клиента
                Задача — привлечение и оказание консультационных услуг в рамках платформы FLY LUNCH.
                </p>
                <p class="text-justify">
                    Почему нужно сотрудничать с нами?
                    Платформа FLY LUNCH обладают идеальным соотношением цена/качество. Мы задаем стандарт в оказании
                    технической поддержки для клиентов и партнеров системы, мы всегда на связи — какой бы вопрос у вас
                    ни возник, мы ответим и поможем разобраться даже в самых не типовых задачах.
                </p>
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/layouts/footer.html')