@@include('../_blocks/layouts/header.html')

<div class="graphic-text">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1>Политика конфиденциальности</h1>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                
                <p dir="ltr">1. Политика конфиденциальности персональной информации (далее &mdash; Политика) действует в отношении всей информации, которую Лицензиат может получить о Сублицензиате во время регистрации на сайте https://flylunch.ru/ или использовании Компьютерной программы.</p>
                
                <p dir="ltr">2. Добровольная регистрация Сублицензиата на сайте https://flylunch.ru/ c целью получения Права означает полное согласие в соответствии с законом &laquo;О персональных данных&raquo; на автоматизированную, а также без использования средств автоматизации, обработку и использование своих персональных данных, а также аудиозаписей, всех телефонных разговоров со специалистом УИТП Лицензиата и гарантирует достоверность предоставленных Сублицензиатом персональных данных.</p>
                
                <p dir="ltr">3. В рамках настоящей Политики под &laquo;персональной информацией пользователя&raquo; понимаются:</p>
                
                <p dir="ltr">&mdash; персональная информация, которую Сублицензиат предоставляет о себе самостоятельно при регистрации или в процессе использования Компьютерной программы, иная информация предоставляется Сублицензиатом на его усмотрение,</p>
                
                <p dir="ltr">&mdash; данные, которые автоматически передаются Компьютерной программой в процессе ее использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере Сублицензиата (или иной программе, с помощью которой осуществляется доступ к Компьютерной программе), время доступа.</p>
                
                <p dir="ltr">Настоящая Политика применима только к отношениям, которые возникают при использовании Компьютерной программы. Лицензиат не контролирует и не несет ответственность за сайты третьих лиц, на которые Сублицензиат может перейти с помощью устройства на котором используется Компьютерная программа. На таких сайтах у Сублицензиата может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.</p>
                
                <p dir="ltr">4. Лицензиат собирает и хранит только те персональные данные, которые необходимы для предоставления Права, улучшения сервиса и оказания услуг, и которые могут быть использованы в следующих целях:</p>
                
                <p dir="ltr">&mdash; идентификация Сублицензиата при предоставлении Права и использовании им Компьютерной программы;</p>
                
                <p dir="ltr">&mdash; связь с Сублицензиатом, в том числе направление уведомлений, запросов и информации, касающихся использования Компьютерной программы, оказания услуг, а также обработка запросов и заявок от Сублицензиата;</p>
                
                <p dir="ltr">&mdash; таргетирование рекламных материалов;</p>
                
                <p dir="ltr">&mdash; проведение статистических и иных исследований.</p>
                
                <p dir="ltr">&mdash; общие сведения при работе в Компьютерной программе для ее оптимизации.</p>
                
                <p dir="ltr">5. Лицензиат вправе передать персональную информацию Сублицензиата третьим лицам в следующих случаях:</p>
                
                <p dir="ltr">&mdash; Сублицензиат выразил свое согласие на подобное действие;</p>
                
                <p dir="ltr">&mdash; передача необходима в рамках выполнения Лицензиатом этого Договора и использования Сублицензиатом Компьютерной программы;</p>
                
                <p dir="ltr">&mdash; в целях выполнения требований закона или решений суда, для защиты прав и законных интересов Лицензиата, защиты личной безопасности сублицензиатов Компьютерной программы.</p>
                
                <p dir="ltr">Сублицензиат может в любой момент изменить предоставленную им персональную информацию, а также удалить ее в рамках определенного аккаунта. Удаление аккаунта может повлечь невозможность использования Компьютерной программы.</p>
                
                <p dir="ltr">6. Лицензиат принимает необходимые организационные и технические меры для защиты персональной информации Сублицензиата от неправомерного доступа, уничтожения, изменения, блокирования, копирования, распространения третьих лиц.</p>
                
                <p dir="ltr">7. Лица, считающие, что их права в использования персональных данных нарушены, или желающее отозвать свое согласие на обработку персональных данных могут направить уведомление на адрес электронной почты Лицензиата.</p>
                
                <p dir="ltr">8. Политика конфиденциальности и срок действия согласия Сублицензиата на автоматизированную, а также без использования средств автоматизации, обработку и использование его персональных данных, действуют на протяжении действия этого Договора.</p>
                
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/layouts/footer.html')