@@include('../_blocks/layouts/header.html')

<div class="graphic-text">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1>Автоматизация блюд и комплексных обедов на предприятие</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="date">22.09.2020</p>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p class="text-justify">
                    Приходит время, когда владелец заведения задумывается о расширении. Возможные пути развития бизнеса:
                </p>
                <p class="text-justify">
                    Перед заведением рано или поздно встает вопрос об автоматизации, сложно контролировать то, что
                    нельзя
                    посчитать. Важно отметить, автоматизировать процесс приема, обработки заказов от корпоративных
                    клиентов,
                    автоматизировать процесс публикации меню, в особенности есть меню согласовано для каждого клиента с
                    учетом его пожеланий по рациону и бюджету - важная задача.
                </p>
                <p class="text-justify">
                    Платформа FLY LUNCH позволяет автоматизировать направление доставки корпоративного питания в офисы и
                    предприятия. Автоматизируйте работу доставки корпоративного питания:
                </p>
                <ul>
                    <li>
                        Настройте личный кабинет для каждого клиента;
                    </li>
                    <li>
                        Настройте индивидуальное меню и цены для каждого клиента;
                    </li>
                    <li>
                        Автоматизируйте процесс приема и обработки заказов;
                    </li>
                    <li>
                        Автоматизируйте производственные процессы;
                    </li>
                    <li>
                        Автоматизируйте контроль и отчетность предприятия.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/layouts/footer.html')