@@include('../_blocks/layouts/header.html')

<div class="graphic-text">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1>Как организовать доставку еды из кафе и ресторана в офисы и предприятия</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="date">05.04.2020</p>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">

                <p class="text-justify">
                    Приходит время, когда владелец заведения задумывается о расширении. Возможные пути развития бизнеса:
                </p>
                <p class="text-justify">
                    1. организация доставки еды для физических лиц; <br>
                    2. открытие новой точки продаж (нового заведения); <br>
                    3. открытие направления франшизы. <br>
                </p>
                <p class="text-justify">
                    Все приведенные выше варианты достаточно трудоемки как в организации, так и финансовых вложениях и
                    лишь немногие задумываются о развитии направления B2B
                </p>
                <p class="text-justify">
                    Опишем основные преимущества в работе с корпоративными клиентами:
                </p>
                <ul>
                    <li>
                        Постоянные заказы - как правило договор поставки питания в офис или предприятие заключается на
                        долгосрочной основе, вам как владельцу бизнеса нет необходимости вкладывать средства в
                        маркетинговую активность, иными словами искать клиентов каждый день заново;
                    </li>
                    <li>
                        Постоянный спрос - при работе с корпоративными клиентами, можно достаточно просто прогнозировать
                        объем
                        производства, тем самым иметь минимальные косты;
                    </li>
                    <li>
                        Низкие транзакционные издержки на доставку - не требуется большой штат курьеров для доставки
                        еды, один
                        курьер доставляет сразу несколько заказов в одно локацию;
                    </li>
                    <li>
                        Вложение и затраты - вам не потребуется арендовать дополнительное помещение для производства еды
                        (организовать приготовление корпоративных обедов возможно на текущих производственных
                        мощностях), а
                        также значительно расширять штат сотрудников на кухне.
                    </li>
                </ul>
                <p class="text-justify">
                    Платформа FLY LUNCH позволяет автоматизировать направление доставки корпоративного питания в офисы и
                    предприятия. Автоматизируйте работу доставки корпоративного питания:
                </p>
                <ul>
                    <li>
                        Настройте личный кабинет для каждого клиента;
                    </li>
                    <li>
                        Настройте индивидуальное меню и цены для каждого клиента;
                    </li>
                    <li>
                        Автоматизируйте процесс приема и обработки заказов;
                    </li>
                    <li>
                        Автоматизируйте производственные процессы;
                    </li>
                    <li>
                        Автоматизируйте контроль и отчетность предприятия.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/layouts/footer.html')