@@include('../_blocks/layouts/header.html')

<div class="graphic-text">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1>Доставка готовой еды в офисы и на предприятия</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="date">01.02.2020</p>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">


                <p class="text-justify"> Всё большую популярность набирает доставка готовой еды. Корпоративный сегмент
                    так же не остаётся в стороне многие компании задумываются об организации централизованного питания
                    для сотрудников.
                </p>
                <p class="text-justify">
                Вот несколько причин почему компании заказывают готовые обеды:
                </p>
                <ul>
                    <li>
                        Нет необходимости организовывать столовую или кафе на территории. Готовую еду доставят в назначенное
                время;
                    </li>
                    <li>
                        Сотрудники тратят минимальное количество времени на приём пищи и перерыв;
                    </li>
                    <li>
                        Сотрудникам нет необходимости заботиться о приготовлении еды с собой;
                    </li>
                    <li>
                        Социальная ответственность и дополнительная статья в бюджетировании на дотацию или компенсацию оплаты
                        питания сотрудников.        
                    </li>
                </ul>
                
               
                
               
                <p class="text-justify">
                Платформа FLY LUNCH позволяет автоматизировать направление доставки корпоративного питания в офисы и
                предприятия. Автоматизируйте работу доставки корпоративного питания:
                </p>

                <ul>
                    <li>
                        Настройте личный кабинет для каждого клиента;
                    </li>
                    <li>
                        Настройте индивидуальное меню и цены для каждого клиента;
                    </li>
                    <li>
                        Автоматизируйте процесс приема и обработки заказов;
                    </li>
                    <li>
                        Автоматизируйте производственные процессы;
                    </li>
                    <li>
                        Автоматизируйте контроль и отчетность предприятия.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/layouts/footer.html')