@@include('../_blocks/layouts/header.html')

<div class="graphic-text">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1>Презентация системы FLY LUNCH</h1>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p>
                    <a href="https://drive.google.com/file/d/1kgo6BlZZj5dheGD9bpCGg5ZkeQVZAaxE/view?usp=sharing"
                        target="blank">Скачать презентацию FLY LUNCH</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="carouselPresentation" class="carousel slide d-flex justify-content-center"
                    data-ride="carousel" data-interval="false" data-touch="true">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselPresentation" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselPresentation" data-slide-to="1"></li>
                        <li data-target="#carouselPresentation" data-slide-to="2"></li>
                        <li data-target="#carouselPresentation" data-slide-to="3"></li>
                        <li data-target="#carouselPresentation" data-slide-to="4"></li>
                        <li data-target="#carouselPresentation" data-slide-to="5"></li>
                        <li data-target="#carouselPresentation" data-slide-to="6"></li>
                        <li data-target="#carouselPresentation" data-slide-to="7"></li>
                        <li data-target="#carouselPresentation" data-slide-to="8"></li>
                        <li data-target="#carouselPresentation" data-slide-to="9"></li>
                        <li data-target="#carouselPresentation" data-slide-to="10"></li>
                        <li data-target="#carouselPresentation" data-slide-to="11"></li>
                        <li data-target="#carouselPresentation" data-slide-to="12"></li>
                        <li data-target="#carouselPresentation" data-slide-to="13"></li>
                        <li data-target="#carouselPresentation" data-slide-to="14"></li>
                      </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/files/img/slides/presentation/2.jpg" class="d-block w-100" alt="0">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/3.jpg" class="d-block w-100" alt="1">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/4.jpg" class="d-block w-100" alt="2">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/5.jpg" class="d-block w-100" alt="3">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/6.jpg" class="d-block w-100" alt="4">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/7.jpg" class="d-block w-100" alt="5">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/8.jpg" class="d-block w-100" alt="6">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/9.jpg" class="d-block w-100" alt="7">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/10.jpg" class="d-block w-100" alt="8">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/11.jpg" class="d-block w-100" alt="8">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/12.jpg" class="d-block w-100" alt="8">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/13.jpg" class="d-block w-100" alt="8">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/14.jpg" class="d-block w-100" alt="8">
                        </div>
                        <div class="carousel-item">
                            <img src="/files/img/slides/presentation/15.jpg" class="d-block w-100" alt="8">
                        </div>
                    </div>
                    <a class="carousel-control-prev justify-content-start justify-content-lg-center d-none d-md-flex"
                        href="#carouselPresentation" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next justify-content-end justify-content-lg-center d-none d-md-flex"
                        href="#carouselPresentation" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/layouts/footer.html')