@@include('../_blocks/layouts/header.html')

@@include('../_blocks/tariff.html')

<div class="graphic-text post">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Автоматизируйте доставку блюд и обедов на предприятия</h1>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p class="text-justify">
                    Доступно на любом тарифе
                </p>

                <p class="text-justify">
                    Техподдержка <br>
                    Мы круглосуточно отвечаем на все вопросы, обучаем и помогаем в чате и по почте.
                </p>

                <p class="text-justify">
                    Бэк-офис <br>
                    Открывайте доступ к бэк-офису своему управляющему, инвестору, маркетологу, кладовщику — в FLY LUNCH
                    нет
                    ограничений по количеству сотрудников.
                </p>

                <p class="text-justify">
                    Облачное хранилище <br>
                    Все данные хранятся на защищенных облачных серверах, поэтому с FLY LUNCH вам не нужен свой сервер,
                    сисадмин или антивирус.
                </p>

                <p class="text-justify">
                    Обновления<br>
                    У вас всегда актуальная и стабильная версия системы. Все обновления вы получаете автоматически и
                    бесплатно.
                </p>

            </div>
        </div>
    </div>
</div>

@@include('../_blocks/try-it-form.html')

@@include('../_blocks/layouts/footer.html')