@@include('../_blocks/layouts/header.html')

<div class="graphic-text">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1>Реквизиты</h1>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p>
                    ИП МОКИН ДМИТРИЙ ЕВГЕНЬЕВИЧ <br>
                    Свидетельство 66 № 005825451 от 30 августа 2010 г. выдано <br>
                    инспекцией ФНС по г. Березовскому Свердловской обл. <br>
                    Факт. адрес: 620014, Россия, г. Екатеринбург, ул. Чернышевского, 7, оф. 503 <br>
                    ИНН 660406341302 <br>
                    ОГРН 310660424200025 <br>
                    Р./сч. 40802810416540016841 <br>
                    Уральский банк ПАО Сбербанк, <br>
                    Кор./сч. 30101810500000000674 <br>
                    БИК 046577674 <br>
                </p>
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/layouts/footer.html')