@@include('../_blocks/layouts/header.html')

<div class="graphic-text">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1>Договор оферты</h1>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p class="text-center ph">Сублицензионный договор</p>

                <p dir="ltr">Предоставление разрешения (права) на использование компьютерной программы &laquo;Fly Lunch&raquo;</p>
                
                <p dir="ltr">ВАЖНО! Перед началом любого использования указанных ниже Программ для ЭВМ внимательно ознакомьтесь с условиями ее использования, содержащимися в настоящем Соглашении. Установка, запуск или иное начало использования Программы означает надлежащее заключение настоящего Соглашения и Ваше полное согласие со всеми его условиями. Если Вы не согласны безоговорочно принять условия настоящего Соглашения, Вы не имеете права использовать Программу.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr">Данный Договор регламентируют правоотношения между ИП Мокин Дмитрий Евгеньевич, действующий на основании Свидетельства о государственной регистрации в качестве индивидуального предпринимателя, серия 66 номер 005825451 от 30.08.2010 ИНН 660406341302, ОГРНИП 310660424200025, и Пользователем (физическим или юридическим лицом) компьютерной программы &laquo;Fly Lunch&raquo;, далее &ndash; &laquo;Сублицензиат&raquo;, связанные с операциями по поставке Сублицензиату программной продукции и предоставлению ему неисключительного разрешения (права) на использование компьютерной программы &laquo;Fly Lunch&raquo;.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">1. Термины и общие положения, используемые в настоящем Договоре</p>
                
                <p dir="ltr">1.1. &laquo;Fly Lunch&raquo; &ndash; компьютерная программа, объект права интеллектуальной собственности ИП Мокин Дмитрий Евгеньевич (далее - Лицензиат), созданный (разработанный) по модели SaaS (англ. Software as a service &ndash; программное обеспечение как услуга) с целью облачной автоматизации торговых компаний для анализа и взаимодействия с клиентской базой путем подключения каналов коммуникаций.&nbsp;</p>
                
                <p dir="ltr">1.2. Полное описание &laquo;Fly Lunch&raquo; (далее &ndash; Компьютерная программа) находится на сайте https://flylunch.ru/.</p>
                
                <p dir="ltr">1.3. Настоящий Договор является открытым и общедоступным документом. Действующая редакция Договора располагается в сети Интернет по адресу: https://flylunch.ru/user-agreement</p>
                
                <p dir="ltr">1.4. Настоящий Договор является договором присоединения и может быть заключен только путем присоединения Сублицензиата ко всем условиям Договора в целом.</p>
                
                <p dir="ltr">Такое присоединение осуществляется, и настоящий Договор признается заключенным с момента его акцепта (принятия условий) Сублицензиатом. Акцептом в целях настоящего Договора является факт выплаты Лицензиату платежа (далее &ndash; &laquo;Роялти&raquo;) как вознаграждения за предоставление Сублицензиату неисключительного разрешения (права) на использование Компьютерной программы.</p>
                
                <p dir="ltr">1.5. Сублицензиат является владельцем данных, которые создаются Сублицензиатом (накапливаются) с помощью Компьютерной программы.</p>
                
                <p dir="ltr">1.6. Обращения, предложения и претензии Сублицензиата, связанные с использованием/ функционированием Компьютерной программы, могут быть направлены на электронный адрес contact@flylunch.ru.</p>
                
                <p dir="ltr">1.7. Принимая условия настоящего Соглашения, Сублицензиат подтверждает свое право- и дееспособность, подтверждает достоверность своих персональных данных и принимает на себя всю ответственность за их точность, полноту и достоверность.</p>
                
                <p dir="ltr">1.8. Территория, на которую распространяется предоставляемое по этому Договору право на использование Компьютерной программы, не ограничена.</p>
                
                <p dir="ltr">1.9. Адрес электронной почты Лицензиата по этому Договору: contact@flylunch.ru.</p>
                
                <p dir="ltr">1.10. Адрес электронной почты Сублицензиата по настоящему Договору указывается при регистрации на странице https://flylunch.ru/auth/log/ или путем подключения приложения в профильной CRM системе и передачи соответствующего разрешения на использование персональных данных регламентированных в договоре https://flylunch.ru/user-agreement.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">1.11. Термины</p>
                
                <p dir="ltr">1.11.1. Лицензиат &ndash; ИП Мокин Д. Е. Реквизиты https://flylunch.ru/details</p>
                
                <p dir="ltr">1.11.2. Сублицензиат &ndash; любое физическое или юридическое лицо, которое имеет право на использование Программы в своем интересе в соответствии с требованиями действующего законодательства РФ и настоящего Договора.</p>
                
                <p dir="ltr">1.11.3. Компьютерная программа &ndash; Программа для ЭВМ &laquo;Fly Lunch&raquo; (как в целом, так и ее компоненты), являющаяся представленной в объективной форме совокупностью данных и команд, в том числе исходного текста, базы данных, аудиовизуальных произведений, включённых Лицензиатом в состав указанной программы для ЭВМ, а также любая документация по ее использованию.</p>
                
                <p dir="ltr">1.11.4. Использование Программы &ndash; использование функциональных возможностей и/или запуск в порядке, определенном пользовательской (технической) документацией и настоящим Договором.</p>
                
                <p dir="ltr">1.11.5. Авторизованный пользователь &ndash; пользователь, зарегистрированный Лицензиатом в Программе и авторизовавшийся в ней как минимум один раз.</p>
                
                <p dir="ltr">1.11.6 Аккаунт &ndash; информационный ресурс, являющийся совокупностью данных одной копии Программы с уникальным идентификатором, с помощью которого группируются объекты программы для их совместного отображения и использования.</p>
                
                <p dir="ltr">1.11.7. Удаленная информационно-техническая поддержка (далее &ndash; &laquo;УИТП&raquo;) &ndash; мероприятия, осуществляемые Лицензиатом в установленных им пределах и объемах для обеспечения функционирования Программы, включая информационно-консультационную поддержку Сублицензиата по вопросам использования Программы.</p>
                
                <p dir="ltr">1.11.8. Договор &ndash; документ, на основании которого Лицензиат (или иное лицо, имеющее соответствующие права) предоставил Сублицензиату Программу для ее использования на условиях настоящего Соглашения.</p>
                
                <p dir="ltr">1.11.9. Регистрация &ndash; действие Сублицензиата, направленное на создание Аккаунта, осуществляемое в порядке и для целей, предусмотренных лицензией соответствующего типа.</p>
                
                <p dir="ltr">1.11.10 Учетная запись &ndash; запись в системе Лицензиата (пара логин/пароль или специальный api-ключ), хранящая данные, позволяющие идентифицировать и авторизовать Сублицензиата и авторизованного пользователя.</p>
                
                <p dir="ltr">1.11.11 Тип лицензии &ndash; тарифный план, избираемый Сублицензиатом, согласно Прайс-листу Лицензиата, публикуемый в сети интернет по следующему адресу: https://flylunch.ru/</p>
                
                <p dir="ltr">1.11.12. API (Application Programming Interface) - интерфейс взаимодействия системы со сторонними приложениями путем использования публичных методов, опубликованных Лицензиаром.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">2. Предмет договора</p>
                
                <p dir="ltr">2.1. Согласно условиям, определенным настоящим Договором, Лицензиат, имея на основании сублицензионного договора неисключительное право предоставлять неисключительное разрешение (право) на использование Компьютерной программы (далее &ndash; Право), предоставляет такое Право Сублицензиату.</p>
                
                <p dir="ltr">2.2. Право предоставляется Сублицензиату (и никаким иным третьим лицам) исключительно в объеме, указанном в настоящем Договоре, если нет письменного согласия Лицензиата на иное.</p>
                
                <p dir="ltr">2.3. Сублицензиат будет использовать Компьютерную программу на собственном оборудовании (планшет, смартфон, компьютер и т.п.) для своей хозяйственной деятельности путем доступа к ней через сеть Интернет.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">3. Порядок приема-передачи Компьютерной программы</p>
                
                <p dir="ltr">3.1. Прием-передача Лицензиатом Сублицензиату Компьютерной программы в пользование происходит путем доступа к ней через сеть Интернет.</p>
                
                <p dir="ltr">3.2. Компьютерная программа размещена по адресу в сети Интернет: https://flylunch.ru/.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">4. Размер, порядок и сроки выплаты платежей за использование Компьютерной программы</p>
                
                <p dir="ltr">4.1. Сублицензиат за предоставление Права выплачивает Лицензиату Роялти в соответствии с выбранным типом лицензии, перечень которых указан странице<a href="https://target-data.com/manage/pay/"> https://flylunch.ru/manage/pay/</a></p>
                
                <p dir="ltr">4.2. Роялти, указанное в п.4.1. этого раздела, выплачивается Сублицензиатом в безналичной форме на расчётный счет Лицензиата путем перечисления 100 % суммы указанной в счете, выставленном в админ-панели Сублицензиата в Компьютерной программе.</p>
                
                <p dir="ltr">4.2.1. При первичной оплате Сублицензиат оплачивает выставленный Лицензиатом счет путем перечисления 100% суммы, указанной в счете до 00.00 часов дня начала использования Компьютерной программы.</p>
                
                <p dir="ltr">4.2.2. В дальнейшем Сублицензиат оплачивает выставленный Лицензиатом счет путем перечисления предоплаты - 100% суммы, указанной в счете за 3 (три) рабочих дня первого дня очередного периода использования Компьютерной программы.</p>
                
                <p dir="ltr">4.2.3. В случае неоплаты Роялти до 00.00 часов дня начала периода использования Компьютерной программы, Лицензиат оставляет за собой право прекратить предоставление Права, расторгнуть Договор в одностороннем порядке и заблокировать доступ Сублицензиата к Компьютерной программе.</p>
                
                <p dir="ltr">При этом Лицензиат не несет ответственность перед Сублицензиатом за любые убытки, связанные с блокировкой доступа к Компьютерной программе по причине несвоевременной оплаты Лицензиату Роялти, в том числе и в случае, если Лицензиат был предупрежден о возможности появления таких убытков вследствие блокировки доступа к Компьютерной программе.</p>
                
                <p dir="ltr">4.3. Моментом исполнения Сублицензиатом обязанностей по уплате Роялти является дата поступления денежных средств, в полном объеме, на расчетный счет Лицензиата.</p>
                
                <p dir="ltr">4.4. В случае отказа Сублицензиата от дальнейшего использования Компьютерной программы или одностороннего расторжения договора по инициативе Сублицензиата, средства, оплаченные как предоплата за предоставления Права, возврату не подлежат.</p>
                
                <p dir="ltr">4.5. В случае отказа Лицензиата от дальнейшего предоставления Сублицензиату Права или одностороннего расторжения договора по инициативе Лицензиата, средства, оплаченные как предоплата за предоставление Права, подлежат возврату Сублицензиату на указанный им счет.</p>
                
                <p dir="ltr">Указанное в настоящем пункте правило о возврате средств Сублицензиату не распространяется в случае расторжения Договора вследствие нарушения Сублицензиатом пункта 6.3 настоящего Договора.</p>
                
                <p dir="ltr">4.6. Условия тарифных планов могут быть изменены в одностороннем порядке на новый период предоставления Права. В случае несогласия Сублицензиата с указанными изменениями, о чем свидетельствует отсутствие оплаты Роялти, Договор считается расторгнутым.</p>
                
                <p dir="ltr">При этом предоставление Права, оплаченное Сублицензиатом до момента внесения таких изменений, будет выполнено Лицензиатом без учета таких изменений.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">5. Права и обязанности сторон</p>
                
                <p dir="ltr" class="ph">5.1. Лицензиат имеет право</p>
                
                <p dir="ltr">5.1.1. Вносить изменения в Компьютерную программу и усовершенствовать ее, без предварительного уведомления;</p>
                
                <p dir="ltr">5.1.2. Направлять Сублицензиату любым способом информацию о функционировании Компьютерной программы, в том числе направлять рекламные, информационные и иные сообщения на адрес электронной почты или номер телефона, указанный Сублицензиатом, или размещать соответствующую информацию в Компьютерной программе;</p>
                
                <p dir="ltr">5.1.3. С учетом пункта 15.2. этого Договора, осуществлять обработку данных Сублицензиата для улучшения сервиса и сбора статистики по рынку;</p>
                
                <p dir="ltr">5.1.4. Получать от Сублицензиата Роялти за предоставление ему Права;</p>
                
                <p dir="ltr">5.1.5. Досрочно в одностороннем порядке расторгнуть этот Договор, в случае нарушения Сублицензиатом условий настоящего Договора, незамедлительно блокировать доступ и прекратить предоставление Права без предварительного уведомления Сублицензиата и возмещения, понесенных Сублицензиатом в связи с этим, убытков;</p>
                
                <p dir="ltr">5.1.6. На одностороннее внесение изменений в условия настоящего Договора. При этом продолжение использования Компьютерной программы и оплата Сублицензиатом предоставленного Права, после внесения изменений и/или дополнений в настоящий Договор, означает согласие Сублицензиата с такими изменениями и/или дополнениями.</p>
                
                <p dir="ltr">5.1.7. Инициировать расторжение настоящего Договора в соответствии с условиями Договора и действующим законодательством;</p>
                
                <p dir="ltr">5.1.8. Без предварительного уведомления Сублицензиата ограничить, приостановить или прекратить предоставление Права без возмещения Сублицензиату понесенных убытков, в случае, если у Лицензиата имеются данные полагать, что Сублицензиат или его аффилированные лица (умышленно или неумышленно): при использовании Компьютерной программой нарушают законодательство, положения этого Договора или права и законные интересы третьих лиц;</p>
                
                <p dir="ltr">пользуются Компьютерной программой недобросовестно;</p>
                
                <p dir="ltr">причиняют вред Компьютерной программе или ее работоспособности;</p>
                
                <p dir="ltr">осуществляют попытки несанкционированного доступа к Компьютерной программе;</p>
                
                <p dir="ltr">создают угрозу сбоя технических и/или программных средств Компьютерной программы и/или третьих лиц;</p>
                
                <p dir="ltr">5.1.9. Передавать права и обязанности по настоящему Договору, третьим лицам в целях исполнения настоящего Договора без дополнительного согласия Сублицензиата.</p>
                
                <p dir="ltr">5.1.10. Пользоваться другими правами, предусмотренными действующим законодательством.</p>
                
                <p dir="ltr">5.2. Лицензиат имеет неисключительное имущественное право предоставлять Право.</p>
                
                <p dir="ltr">5.3. Статус Сублицензиата, предоставляемый в рамках этого договора, не является эксклюзивным, и Лицензиат имеет право на заключение подобных договоров.</p>
                
                <p dir="ltr" class="ph">5.4. Лицензиат обязан обеспечить:</p>
                
                <p dir="ltr">5.4.1. Выполнение Компьютерной программой функциональных возможностей, описанных в тарифном плане;</p>
                
                <p dir="ltr">5.4.2. Доступ к Компьютерной программе для ее использования Сублицензиатом в течение 99% времени последних 365 дней (за исключением времени проведения профилактических работ);</p>
                
                <p dir="ltr">5.4.3. Конфиденциальность данных Сублицензиата на весь период их нахождения на серверах.</p>
                
                <p dir="ltr">5.4.4. Базовую информационную безопасность данных Сублицензиата в пределах, определяемых обычными условиями.</p>
                
                <p dir="ltr">5.4.5. Устранение сбоев в работе Компьютерной программы или ошибок, выявленных Сублицензиатом в течение срока действия этого Договора;</p>
                
                <p dir="ltr">5.4.6. Предоставление Сублицензиату, в период действия этого Договора, удаленной информационно-технической поддержки для обеспечения нормального функционирования Компьютерной программы;</p>
                
                <p dir="ltr">Удаленная информационно-техническая поддержка Компьютерной программы предоставляется Сублицензиату в порядке и на условиях настоящего Договора.</p>
                
                <p dir="ltr" class="ph">5.5. Сублицензиат имеет право:</p>
                
                <p dir="ltr">5.5.1. Использовать Компьютерную программу в течение срока действия Договора и в соответствии с условиями определенными в нем;</p>
                
                <p dir="ltr">5.5.2. Инициировать расторжение настоящего Договора в соответствии с условиями Договора и действующим законодательством;</p>
                
                <p dir="ltr">5.5.3. Вносить предложения по изменению/дополнению функциональных возможностей Компьютерной программы;</p>
                
                <p dir="ltr">5.5.4. Выбирать тарифный план пользования Компьютерной программой;</p>
                
                <p dir="ltr">5.5.5. Предоставлять сотрудникам организации Сублицензиата доступ для работы в Компьютерной программе;</p>
                
                <p dir="ltr">5.5.6. Использовать Компьютерную программу в хозяйственной деятельности, исключая случаи перепродажи, аренды или передачи Компьютерной программы третьим лицам;</p>
                
                <p dir="ltr" class="ph">5.6. Сублицензиат обязан:</p>
                
                <p dir="ltr">5.6.1. Выплачивать Лицензиату Роялти в размерах, порядке и сроках, определенных настоящим Договором, за использование Компьютерной программы;</p>
                
                <p dir="ltr">5.6.2. Сообщать Лицензиату обо всех известных ему случаях нарушения третьими лицами имущественных прав интеллектуальной собственности на Компьютерную программу;</p>
                
                <p dir="ltr">5.6.3. Ознакомиться со всей информацией размещенной на сайте https://flylunch.ru/, а также регулярно следить за всеми изменениями. Акцепт Сублицензиатом этого Договора подтверждает выполнение им указанного в этом пункте обязательства;</p>
                
                <p dir="ltr">5.6.4. Не использовать Компьютерную программу в нарушение прав и законных интересов Лицензиара, Лицензиата, иных правообладателей, третьих лиц и настоящего Договора;</p>
                
                <p dir="ltr">5.6.5. Использовать Компьютерную программу исключительно в соответствии с условиями и в рамках определенными этим Договором;</p>
                
                <p dir="ltr">5.6.6. Не совершать действий, указанных в п. 6.3. раздела 6 настоящего Договора;</p>
                
                <p dir="ltr">5.6.7. Своевременно направлять уведомления Лицензиату о необходимости уничтожения данных/информации на серверах;</p>
                
                <p dir="ltr">5.6.8. Предоставить Лицензиату все сведения и документы, необходимые для выполнения Лицензиатом своих обязательств по настоящему Договору;</p>
                
                <p dir="ltr">5.6.9. Регулярно отслеживать изменения в Договоре, размещенном на сайте https://flylunch.ru/user-agreement.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">6. Условия использования Компьютерной программы</p>
                
                <p dir="ltr">6.1. Сублицензиат не получает права собственности или авторского права на Компьютерную программу. Компьютерная программа остается собственностью Лицензиара.</p>
                
                <p dir="ltr">Стороны подтверждают, что в соответствии с законодательством РФ, с учетом условий данного Договора, Лицензиат передает Сублицензиату только Право.</p>
                
                <p dir="ltr">При этом такая передача не является передачей ни во владение, ни в распоряжение, ни в собственность. Право, которое было передано, исключает право или возможность Сублицензиата продать или осуществить отчуждение в другой способ Компьютерной программы любому третьему лицу, а также исключает возможность Сублицензиата иным образом передать Компьютерную программу во владение, распоряжение или собственность любому третьему лицу.</p>
                
                <p dir="ltr">Условия использования Компьютерной программы не ограничены ее функциональным назначением, и ее воспроизведение не ограничено количеством копий, необходимых для такого использования.</p>
                
                <p dir="ltr" >6.2. Сублицензиат может использовать Компьютерную программу следующими способами:</p>
                
                <p dir="ltr">6.2.1. Воспроизводить графическую часть Компьютерной программы (рабочий интерфейс) на экране своего оборудования (планшета, смартфона, компьютера и т.п.);</p>
                
                <p dir="ltr">6.2.2. Использовать все функциональные возможности Компьютерной программы, описанные в выбранном тарифном плане;</p>
                
                <p dir="ltr">6.3. Сублицензиату запрещается</p>
                
                <p dir="ltr">6.3.1. Прибегать к обратному конструированию, декомпиляции или дизассемблированию Компьютерной программы, или иным образом исследовать программный код и/или модифицировать его;</p>
                
                <p dir="ltr">6.3.2. Предоставлять Компьютерную программу в прокат или во временное пользование третьим лицам, за исключением сотрудников Сублицензиата, которые используют Компьютерную программу с целью ведения хозяйственной деятельности Сублицензиата;</p>
                
                <p dir="ltr">6.3.3. Заключать сублицензионные договора с третьими лицами и/или передавать третьим лицам Право на Компьютерную программу;</p>
                
                <p dir="ltr">6.3.4. Производить взлом платного функционирования Компьютерной программы.</p>
                
                <p dir="ltr">6.4. Для исполнения настоящего Договора Лицензиатом могут привлекаться третьи лица. Сублицензиат подтверждает, что указанным третьим лицам предоставляются такие же права, как и Лицензиату, в том числе в отношении персональных данных Сублицензиата.</p>
                
                <p dir="ltr">6.5. В случае нарушения Сублицензиатом условий этого Договора или осуществления любого действия, указанного в подпунктах п. 6.3. настоящего Договора, действие настоящего Договора прекращается, а Сублицензиат должен немедленно прекратить использование Компьютерной программы с момента прекращения действия настоящего Договора и возместить Лицензиату реальные убытки, упущенную выгоду и моральный (неимущественный) вред (ущерб).</p>
                
                <p dir="ltr">6.6. В случае, если в течение 3 (трех) дней с момента получения Права Лицензиат не получил претензий Сублицензиата, связанных с объемом предоставленных прав, то Право считается предоставленным Сублицензиату в полном объеме надлежащим образом.</p>
                
                <p dir="ltr">6.7. В случае расторжения Договора информация Сублицензиата, внесенная в Компьютерную программу, может быть уничтожена/удалена.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr " class="ph">7. Порядок осуществления удаленной информационно-технической поддержки</p>
                
                <p dir="ltr">7.1. В настоящем Договоре под удаленной информационно-технической поддержкой понимается поддержка рабочего состояния Компьютерной программы, актуализация (периодическое обновление) Компьютерной программы, в течение действия этого Договора.</p>
                
                <p dir="ltr">7.2. Удаленная информационно-техническая поддержка (далее &ndash; &laquo;УИТП&raquo;), которая бесплатно осуществляется Лицензиатом в рамках настоящего Договора, включает:</p>
                
                <p dir="ltr">- подготовку дополнений и изменений программного кода Компьютерной программы для его обновления, в том числе в связи с устранением выявленных недоработок (недостатков) в Компьютерной программе;</p>
                
                <p dir="ltr">- консультационное обслуживание Сублицензиата по вопросам функционирования Компьютерной программы и ее программно-техническая поддержка в соответствии с тарифным планом.</p>
                
                <p dir="ltr">- получение Сублицензиатом обновлений Компьютерной программы.</p>
                
                <p dir="ltr">7.3. Для предоставления Лицензиатом Сублицензиату услуг, необходимость предоставления которых будет обнаружена Сублицензиатом в ходе эксплуатации Компьютерной программы или УИТП, Стороны заключают отдельный договор, в котором определят перечень таких услуг, стоимость, порядок и сроки их выполнения.</p>
                
                <p dir="ltr">7.4. После присоединения к этому Договору Сублицензиату оказывается УИТП, специалистами Лецензиата путем:</p>
                
                <p dir="ltr">7.4.1. Интерактивный чат , доступен для Сублицензиата авторизованного на сайте<a href="https://target-data.com/"> https://flylunch.ru/</a> в рамках соданной учетной записи п.1.11.10.</p>
                
                <p dir="ltr">7.5. УИТП предоставляются бесплатно в течение срока предоставления Права.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">8. Обстоятельства непреодолимой силы (форс-мажор)</p>
                
                <p dir="ltr">8.1. Стороны не несут ответственности за неисполнение либо ненадлежащее исполнение обязательств по Договору, если это неисполнение (ненадлежащее исполнение) явилось прямым следствием наступления обстоятельств, которые Стороны не могли предвидеть и предотвратить разумными средствами.</p>
                
                <p dir="ltr">Обстоятельствами непреодолимой силы, в том числе, являются: стихийные бедствия, эпидемии, война, военные перевороты, мятеж, гражданские волнения, антитеррористические операции, террористические акты, забастовки, акты органов законодательной и/или исполнительной власти, пожар, реквизиция, мобилизация, арест, валютные ограничения, эмбарго или блокады, торговые санкции.</p>
                
                <p dir="ltr">8.2. В случае наступления указанных в п. 8.1. данного раздела Договора обстоятельств, срок исполнения обязательств по Договору отодвигается соразмерно времени действия таких обстоятельств.</p>
                
                <p dir="ltr">8.3. Сторона, для которой создалась невозможность исполнения обязательств, предусмотренных условиями настоящего Договора, должна немедленно, но не позднее 10 (десяти) рабочих дней с момента наступления указанных обстоятельств в электронной форме уведомить другую Сторону.</p>
                
                <p dir="ltr">8.4. В случае, если действие обстоятельств, указанных в п. 8.1. данного раздела Договора, продлится более 2 (двух) месяцев, или если имеются достаточные основания полагать, что обстоятельства непреодолимой силы будут продолжаться более чем 2 (два) месяца, то Сторона, для которой существует невозможность исполнения обязательств по настоящему Договору, вправе отказаться от дальнейшего исполнения Договора.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">9. Ответственность сторон за нарушение условий договора</p>
                
                <p dir="ltr">9.1.Лицензиат не несет ответственности за:</p>
                
                <p dir="ltr">9.1.1. Нанесение вероятных убытков, которые могут быть нанесены Сублицензиату в результате использования последним Компьютерной программы, в том числе убытков, которые нанесены (могут быть нанесены) третьим лицам;</p>
                
                <p dir="ltr">9.1.2. Упущенную выгоду и негативные последствия, которые произошли в результате использования Компьютерной программы и нанесли ущерб Сублицензиату и третьим лицам;</p>
                
                <p dir="ltr">9.1.3. Качество сервисов (в частности сервисов передачи данных) необходимых для работы с Компьютерной программой предоставляемых Сублицензиату третьими лицами.</p>
                
                <p dir="ltr">9.2. В случае нарушения обязательств, которые возникают из настоящего Договора (далее именуется &quot;нарушение Договора&quot;), Сторона несет ответственность, определенную настоящим Договором и (или) действующим законодательством РФ.</p>
                
                <p dir="ltr">9.2.1. Нарушением Договора является его невыполнение или ненадлежащее выполнение, то есть выполнение с нарушением условий, определенных содержанием настоящего Договора.</p>
                
                <p dir="ltr">9.2.2. Сторона не несет ответственности за нарушение Договора, если оно произошло не по его вине (умысла или неосторожности).</p>
                
                <p dir="ltr">9.2.3. Сторона считается невиновной и не несет ответственности за нарушение Договора, если она докажет, что приняла все зависящие от нее меры для надлежащего исполнения настоящего Договора.</p>
                
                <p dir="ltr">9.3. Уплата штрафных санкций (штрафа, пени) не освобождает Стороны от исполнения своих обязательств по настоящему Договору.</p>
                
                <p dir="ltr">9.4. В случае доказательства прямой вины Лицензиата Сублицензиат может получить от Лицензиата только возмещение за прямые убытки в размере не более 500 рублей. Сублицензиат не имеет права на возмещение любых других убытков, в том числе косвенных убытков, утраченной выгоды, фактических или косвенных убытков.</p>
                
                <p dir="ltr">Это ограничение касается:</p>
                
                <p dir="ltr">- любых споров, связанных с предоставлением Права, Компьютерной программой, службами и содержимым (в частности, кодом) веб-сайтов третьих сторон или приложений третьих сторон;</p>
                
                <p dir="ltr">- исков о нарушении условий договора, гарантий, других условий или безусловных обязательств, о проявлении халатности или совершения другого правонарушения, кроме случаев, предусмотренных действующим законодательством.</p>
                
                <p dir="ltr">Это ограничение действует, даже если представители Лицензиата знали или догадывались о возможности наступления таких убытков.</p>
                
                <p dir="ltr">9.5. Сублицензиат соглашается с тем, что для работы с Компьютерной программой Сублицензиату необходимо использовать программное обеспечение (веб-браузеры, операционные системы и прочее) и оборудование (персональные компьютеры, сетевое оборудование и прочее) произведенное и предоставленное третьими лицами, и Лицензиат не может нести ответственность за качество их работы.</p>
                
                <p dir="ltr">9.6. В случае потери данных, вызванной действиями Сублицензиата, восстановление данных производится по запросу Лицензиату. Восстановление данных производится только при условии наличия технической возможности.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">10. Гарантии и ответственность при использовании Компьютерной программы</p>
                
                <p dir="ltr">10.1. Лицензиат гарантирует, что он является единственным владельцем авторских и/или смежных прав на Компьютерную программу и факт передачи Права Сублицензиату по настоящему Договору не может нанести какой-либо вред любым третьим лицам.</p>
                
                <p dir="ltr">10.2. Компьютерная программа предоставляется в пользование по принципу &laquo;как есть&raquo;. Лицензиат не несет ответственности за ошибки, сбои, сохранность данных Сублицензиата и иные недостатки, и нарушения в Компьютерной программе и их последствия у Сублицензиата, в том числе за реальный ущерб, упущенную выгоду, убытки, моральный вред, вред чести, достоинству и деловой репутации.</p>
                
                <p dir="ltr">10.3. Сублицензиат принимает на себя все возможные риски, в том числе материальные, связанные с использованием Компьютерной программы.</p>
                
                <p dir="ltr">10.4. Сублицензиат несет личную ответственность за доступ третьих лиц к устройству, на котором используется Компьютерная программа.</p>
                
                <p dir="ltr">10.5. В случае утери, удаления, повреждения внесенной пользователем в Компьютерную программу информации в результате действий/бездействий Сублицензиата, всю ответственность несет Сублицензиат.</p>
                
                <p dir="ltr">10.6. Лицензиат гарантирует исправление в удаленном режиме ошибок, выявленных Сублицензиатом в работе Компьютерной программы, признанных Лицензиатом.</p>
                
                <p dir="ltr">Данная гарантия действительна при правильном использовании Компьютерной программы и не может быть применена в случаях ущерба, причиненного в результате:</p>
                
                <p dir="ltr">&ndash; неправильного или несанкционированного использования, небрежности, некомпетентности, умышленной порчи, действия компьютерных вирусов;</p>
                
                <p dir="ltr">&ndash; внешнего по отношению к Компьютерной программе или ее части характера, который включает, но не ограничивается этим, перебои в энергии, перепады в напряжении и температуре или является результатом неверного выполнения Сублицензиатом технических указаний Лицензиата.</p>
                
                <p dir="ltr">10.7. Сублицензиат гарантирует, что не будет предпринимать каких-либо действий, направленных на причинение ущерба Лицензиату, правообладателям или иным третьим лицам.</p>
                
                <p dir="ltr">10.8. Лицензиат не несет ответственности за невозможность использования Компьютерной программы по причинам, не зависящим от Лицензиата.</p>
                
                <p dir="ltr">10.9. Лицензиат не несет ответственности за обеспечение достоверности, полноты, точности и актуальности информации, вносимой Сублицензиатом в Компьютерную программу. Вся полученная от Сублицензиата информация обрабатываются в том виде, как они были получены.</p>
                
                <p dir="ltr">10.10. Лицензиат не несет ответственности за несоблюдение Сублицензиатом организационных и иных мер, приведших к неправомерному или случайному доступу к информации, не уполномоченных Сублицензиатом лиц, а также повлекшее их уничтожение, изменение, блокирование, копирование или распространение, а также иные неправомерные действия со стороны сотрудников Сублицензиата и/или третьих лиц.</p>
                
                <p dir="ltr">10.11. Лицензиат не может гарантировать работоспособность Компьютерной программы и не несет за это ответственность в случае, если у Сублицензиата отсутствует последняя версия (своевременное обновление) необходимого программного обеспечения.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">11. Дополнительные положения</p>
                
                <p dir="ltr">11.1 Сублицензиату запрещается использование Программы для осуществления массовых рассылок электронных сообщений коммерческого, рекламного и иного характера, не согласованных (не запрошенных) получателем информации по электронной почте или в группы телеконференций (&quot;спам&quot;). Не рассматривается как &quot;спам&quot; рассылка информации с согласия получателя, при возможности отказа от подписки. Распространение рекламы по сетям электросвязи, в том числе посредством использования телефонной, факсимильной, подвижной радиотелефонной связи, допускается сублицензиату только при условии предварительного согласия абонента или адресата на получение рекламы. При этом реклама признается распространенной без предварительного согласия абонента или адресата, если сублицензиат не докажет, что такое согласие было получено. Сублицензиат обязан немедленно прекратить распространение рекламы в адрес лица, обратившегося к нему с таким требованием.</p>
                
                <p dir="ltr">11.2. Использование Программы должно осуществляться Сублицензиатом только для законных целей и законными способами с учетом законодательства РФ, Европейского союза и США.</p>
                
                <p dir="ltr">11.3. За содержание Аккаунта (копии Программы), создаваемых и поддерживаемых Лицензиатом данных, несет ответственность непосредственно сам Сублицензиат. Лицензиат не осуществляет предварительного контроля за содержанием размещаемой и/или распространяемой Сублицензиатом информации, однако когда размещение и распространение такой информации противоречит законодательству, Лицензиат вправе заблокировать или удалить соответствующий Аккаунт и данные без предупреждения.</p>
                
                <p dir="ltr">11.4. Лицензиат не предоставляет Сублицензиату услуги связи, не организует для него возможность доступа к информационным системам информационно-телекоммуникационных сетей, в том числе к сети Интернет, и не осуществляет деятельность по приему, обработке, хранению, передаче, доставки сообщений электросвязи.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">12. Разрешение споров</p>
                
                <p dir="ltr">12.1. Все споры, возникающие из настоящего Договора или связанные с ним, решаются путем переговоров между Сторонами.</p>
                
                <p dir="ltr">12.2. Если соответствующий спор невозможно решить путем переговоров, он решается в судебном порядке по местонахождению Лицензиата в соответствии с действующим в РФ законодательством.</p>
                
                <p dir="ltr">Лицензиар имеет право изменять условия настоящего Соглашения в одностороннем порядке путем размещения измененного текста в сети Интернет по адресу http://www.amocrm.ru</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">13. Срок действия Договора и порядок его расторжения</p>
                
                <p dir="ltr">13.1. Настоящий договор вступает в силу с дня принятия условий настоящего Договора и действует в течение срока оплаченного предоставления Права.</p>
                
                <p dir="ltr">В случае внесения Сублицензиатом дальнейшей оплаты за предоставление ему Права, до окончания срока действия этого Договора, этот Договор автоматически пролонгируется на срок своего действия на период такой оплаты.</p>
                
                <p dir="ltr">13.2. Договор, может быть, расторгнут по соглашению сторон или по требованию Лицензиата в случаях, предусмотренных настоящим Договором.</p>
                
                <p dir="ltr">13.3. Любая из Сторон вправе в одностороннем порядке отказаться от настоящего Договора, уведомив другую Сторону путем направления сообщения средствами электронной связи.</p>
                
                <p dir="ltr">Моментом расторжения настоящего Договора считается дата, указанная в сообщении о расторжении Договора, а при отсутствии такого указания &ndash; дата электронной отправки Стороной данного сообщения.</p>
                
                <p dir="ltr">Указанное в настоящем пункте правило по уведомлению Сублицензиата не распространяется в случае расторжения Договора вследствие нарушения Сублицензиатом пункта 6.3 настоящего Договора.</p>
                
                <p dir="ltr">13.4. Окончание срока действия настоящего Договора не освобождает Стороны от ответственности за его нарушение, которое имело место во время действия настоящего Договора.</p>
                
                <p dir="ltr">13.5. При расторжении настоящего Договора любой стороной и по любым основаниям Сублицензиат и Авторизованные пользователи обязаны прекратить использование Программы полностью.</p>
                
                <p dir="ltr">13.6. В случае если компетентный суд признает какие-либо положения настоящего Соглашения недействительными, Соглашение продолжает действовать в остальной части.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">14. Политика конфиденциальности</p>
                
                <p dir="ltr">14.1. Политика конфиденциальности персональной информации (далее &mdash; Политика) действует в отношении всей информации, которую Лицензиат может получить о Сублицензиате во время регистрации на сайте https://flylunch.ru/ или использовании Компьютерной программы.</p>
                
                <p dir="ltr">14.2. Добровольная регистрация Сублицензиата на сайте https://flylunch.ru/ c целью получения Права означает полное согласие в соответствии с законом &laquo;О персональных данных&raquo; на автоматизированную, а также без использования средств автоматизации, обработку и использование своих персональных данных, а также аудиозаписей, всех телефонных разговоров со специалистом УИТП Лицензиата и гарантирует достоверность предоставленных Сублицензиатом персональных данных.</p>
                
                <p dir="ltr">14.3. В рамках настоящей Политики под &laquo;персональной информацией пользователя&raquo; понимаются:</p>
                
                <p dir="ltr">&mdash; персональная информация, которую Сублицензиат предоставляет о себе самостоятельно при регистрации или в процессе использования Компьютерной программы, иная информация предоставляется Сублицензиатом на его усмотрение,</p>
                
                <p dir="ltr">&mdash; данные, которые автоматически передаются Компьютерной программой в процессе ее использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере Сублицензиата (или иной программе, с помощью которой осуществляется доступ к Компьютерной программе), время доступа.</p>
                
                <p dir="ltr">Настоящая Политика применима только к отношениям, которые возникают при использовании Компьютерной программы. Лицензиат не контролирует и не несет ответственность за сайты третьих лиц, на которые Сублицензиат может перейти с помощью устройства на котором используется Компьютерная программа. На таких сайтах у Сублицензиата может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.</p>
                
                <p dir="ltr">14.4. Лицензиат собирает и хранит только те персональные данные, которые необходимы для предоставления Права, улучшения сервиса и оказания услуг, и которые могут быть использованы в следующих целях:</p>
                
                <p dir="ltr">&mdash; идентификация Сублицензиата при предоставлении Права и использовании им Компьютерной программы;</p>
                
                <p dir="ltr">&mdash; связь с Сублицензиатом, в том числе направление уведомлений, запросов и информации, касающихся использования Компьютерной программы, оказания услуг, а также обработка запросов и заявок от Сублицензиата;</p>
                
                <p dir="ltr">&mdash; таргетирование рекламных материалов;</p>
                
                <p dir="ltr">&mdash; проведение статистических и иных исследований.</p>
                
                <p dir="ltr">&mdash; общие сведения при работе в Компьютерной программе для ее оптимизации.</p>
                
                <p dir="ltr">14.5. Лицензиат вправе передать персональную информацию Сублицензиата третьим лицам в следующих случаях:</p>
                
                <p dir="ltr">&mdash; Сублицензиат выразил свое согласие на подобное действие;</p>
                
                <p dir="ltr">&mdash; передача необходима в рамках выполнения Лицензиатом этого Договора и использования Сублицензиатом Компьютерной программы;</p>
                
                <p dir="ltr">&mdash; в целях выполнения требований закона или решений суда, для защиты прав и законных интересов Лицензиата, защиты личной безопасности сублицензиатов Компьютерной программы.</p>
                
                <p dir="ltr">Сублицензиат может в любой момент изменить предоставленную им персональную информацию, а также удалить ее в рамках определенного аккаунта. Удаление аккаунта может повлечь невозможность использования Компьютерной программы.</p>
                
                <p dir="ltr">14.6. Лицензиат принимает необходимые организационные и технические меры для защиты персональной информации Сублицензиата от неправомерного доступа, уничтожения, изменения, блокирования, копирования, распространения третьих лиц.</p>
                
                <p dir="ltr">14.7. Лица, считающие, что их права в использования персональных данных нарушены, или желающее отозвать свое согласие на обработку персональных данных могут направить уведомление на адрес электронной почты Лицензиата.</p>
                
                <p dir="ltr">14.8. Политика конфиденциальности и срок действия согласия Сублицензиата на автоматизированную, а также без использования средств автоматизации, обработку и использование его персональных данных, действуют на протяжении действия этого Договора.</p>
                
                <p>&nbsp;</p>
                
                <p dir="ltr" class="ph">15. Другие условия</p>
                
                <p dir="ltr">15.1. Все правоотношения, которые возникают из настоящего Договора или связанные с ним, в том числе связанные с действительностью, заключением, исполнением, изменением и прекращением настоящего Договора, толкованием его условий, определением последствий недействительности или нарушения Договора, регламентируются настоящим Договором и соответствующими нормами действующего законодательства РФ, а также применимыми к таким правоотношениям обычаями делового оборота на основании принципов добросовестности, разумности и справедливости.</p>
                
                <p dir="ltr">15.2. После заключения настоящего Договора все предыдущие переговоры по нему, переписка, предварительные договоры, протоколы о намерениях и любые другие устные или письменные договоренности Сторон по вопросам, которые так или иначе касаются этого Договора, теряют юридическую силу.</p>
                
                <p dir="ltr">15.3. Сублицензиат несет полную ответственность за правильность указанной при регистрации информации, и обязуется своевременно сообщать Лицензиату об ее изменении, а в случае не сообщения несет риск наступления связанных с этим неблагоприятных последствий.</p>
                
                <p dir="ltr">15.4. Заключение этого договора свидетельствует о согласии Сублицензиата для улучшения УИТП на осуществление обработки его данных, в том числе персональных, предоставляемых Лицензиату в соответствии с требованиями законодательства РФ, а также аудиозаписей, всех телефонных разговоров со специалистом УИТП Лицензиата.</p>
                
                <p dir="ltr">15.5. В случае наличия у Сублицензиата, подписанного в письменном виде с Лицензиатом сублицензионного договора, правоотношения по предоставлению Сублицензиату Права регулируются таким договором.</p>
                
                <p dir="ltr">15.6. В иных случаях правоотношения по предоставлению Сублицензиату Права регулируются вышеизложенным Сублицензионным договором.</p>
                
                <p><br />
                &nbsp;</p>
                
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/layouts/footer.html')