@@include('../_blocks/layouts/header.html')

<div class="graphic-text">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1>Вакансии</h1>
            </div>
        </div>
        <div class="row">
            <div class="col wrap">
                <p class="text-justify">
                    Мы постоянно растем, поэтому часто набираем специалистов. Вот наши вакансии:
                </p>
                <p class="text-justify">
                    Аккаунт менеджер<br>
                    Менеджер по работе с клиентами (входящие заявки)<br>
                    Специалист технической поддержки<br>
                <p class="text-justify">
                    Ожидаем ваше резюме по адресу: <a href="mailto:manager@flylunch.ru">manager@flylunch.ru</a> 
                <p>
            </div>
        </div>
    </div>
</div>

@@include('../_blocks/layouts/footer.html')