@@include('../../_blocks/footer.html')

@@include('../../_blocks/contact.html')


@@include('../../_blocks/modals/index.html')

<script src="/files/js/landing.js"></script>
<script src="https://kit.fontawesome.com/6db2a57fbe.js" crossorigin="anonymous"></script>
<script>
   // $('#registrationModal').modal('show');
</script>
</body>

</html>