$body-font: 	'LetoSansCondensed';
$body-bg:		#FFFFFF;
$body-color:	#333333;
$body-size:		16px;

$link-color:	#ffffff;

$orangedark:	#FF6C2C;
$orange:		#FFBC9A;

$bluedark:	    #003B73;
$bluelight:	    #46B1FF;

$graylight:		#F4F4F4;
$gray:			#939292;
$black:			#000000;
$dark:			#161414;
$red:			#E10000;


// самый минимальный размер экрана
$screen-min:	320px;
// телефоны
$screen-xs:		480px;
// планшеты
$screen-sm:		768px;
// обычный монитор
$screen-md:		992px;
// Широкий монитор
$screen-lg:		1200px;
// Full HD
$screen-xl:		1920px;


// ширина отступа
$wrap-margin:	15px;

@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "landing/fonts.scss";
@import "landing/ibg.scss";

@import "landing/standard.scss";
@import "landing/modal.scss";
@import "landing/modal320.scss";
@import "landing/modal768.scss";
@import "landing/modal1024.scss";
@import "landing/inputs.scss";
@import "landing/buttons.scss";
@import "landing/style.scss";
@import "landing/style320.scss";
@import "landing/style480.scss";
@import "landing/style768.scss";
@import "landing/style992.scss";
@import "landing/style1024.scss";
@import "landing/style1200.scss";